<div class="login-page" [@routerTransition]>

  <div class="row justify-content-md-center" *tdLoading="'loading';strategy:'overlay'">

    <div class="col-md-4">
      <div [routerLink]="'/'" class="cursor-pointer text-center">
        <img src="assets/images/logo.png" width="150px" class="user-avatar" />
        <h1 class="text-center">{{'brand.login' | translate}}</h1>
      </div>
      <form role=" form " [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
        <!-- <mat-spinner *ngIf="loading" class="m-auto"></mat-spinner> -->

        <div class="form-content ">
          <div class="form-group ">
          </div>

          <div class="form-group ">
            <input type="text " class="form-control input-underline input-lg "
              placeholder="{{ 'userName' | translate }} " formControlName="username">
            <div class="text-danger" *ngIf="hasError('username')">{{'userName.error.invalid'|translate}}</div>

          </div>

          <div class="form-group ">
            <input type="password" class="form-control input-underline input-lg"
              placeholder="{{ 'password' | translate }} " formControlName="password">
            <div class="text-danger" *ngIf="hasError('password')">{{'password.error.invalid'|translate}}</div>
          </div>
        </div>
        <div class="text-center mb-5">
          <button class="btn rounded-btn " [disabled]="loading" type="submit">{{ 'logIn' | translate }}</button>
          &nbsp;
          <button class="btn text-primary " [routerLink]="[ '/signup'] ">{{ 'Register' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
