$topnav-background-color:  #F7F8F9 0% 0% no-repeat padding-box;;

.main-color{
  color: #63C6C9  ;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    form{
     background: #FFFFFF 0% 0% no-repeat padding-box;
     box-shadow: 0px 3px 60px #0000001A;
     border-radius: 20px;
     opacity: 1;


    }
    img{
      width: 150px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

::placeholder {
  font: 21px ;
letter-spacing: 0px;
color: #B5B5B5;
opacity: 1;
}

    .rounded-btn {
        background: var(--unnamed-color-63c6c9) 0% 0% no-repeat padding-box;
        background: #63C6C9 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #63C6C933;
        border-radius: 20px;
        opacity: 1;
        width: 100%;
    }
     .brand{
        color: #333333;
    }
    .brand:hover{
      color:#63C6C9 ;
    }
