<div class="login-page" [@routerTransition]>

  <div *tdLoading="'loading';strategy:'overlay'" class="mt-5">

    <div class="container row justify-content-center m-auto">

      <div [routerLink]="'/'" class="cursor-pointer col-12 text-center">
        <img src="assets\images\Fabri Hub_Logo@2x.png" class="img-fluid" />
      </div>
      <form role="form" [formGroup]="loginForm" class="col-md-6 mt-3" (ngSubmit)="onLoggedin()">
        <!-- <mat-spinner *ngIf="loading" class="m-auto"></mat-spinner> -->

        <div class="row m-auto justify-content-center">
          <h4 class="text-center col-md-10 font-weight-bolder mt-3 mb-5 brand">{{'brand.login' | translate}}</h4>


          <div class="form-group col-md-10">
            <label for="first" class="brand font-weight-bold">{{"email"|translate}}</label>
            <input type="text" placeholder="{{ 'enterEmail' | translate }} " formControlName="username"
              class="form-control" id="first">
            <div *ngIf="loginForm.controls.username.touched && !loginForm.controls.username.valid" class="text-danger">
              <div *ngIf="loginForm.controls.username.errors.required">{{ 'email.error.required' | translate }}
              </div>
              <div *ngIf="loginForm.controls.username.errors.email">
                {{ 'email.error.invalid' | translate }}</div>

            </div>
          </div>

          <!--  col-md-6   -->

          <div class="form-group col-md-10">
            <div class="d-flex justify-content-between">
              <label for="last" class="brand font-weight-bold">{{'password'|translate}}</label>
              <a class="brand" routerLink="/forget-password">{{'forgetPassword'|translate}}</a>
            </div>

            <div class="input-group">

              <input [type]="fieldTextType ? 'text' : 'password'" placeholder="{{ 'enterPassword' | translate }} "
                formControlName="password" class="form-control border-right-0" placeholder="" id="last"
                aria-describedby="inputGroupPrepend">
              <div class="input-group-prepend">
                <span class="input-group-text border-left-0 bg-transparent rounded-right" id="inputGroupPrepend">
                  <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"
                    (click)="toggleFieldTextType()"></i>
                </span>
              </div>
            </div>
            <div *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid" class="text-danger">
              <div *ngIf="loginForm.controls.password.errors.required">
                {{ 'password.error.required' | translate }}</div>
              <div *ngIf="loginForm.controls.password.errors.pattern">
                {{ 'password.error.pattern' | translate }}</div>
            </div>
          </div>



          <!--  col-md-6   -->
          <div class="form-group col-md-10">
            <button class="btn rounded-btn text-light w-100" [disabled]="loading"
              type="submit">{{ 'logIn' | translate }}</button>
          </div>
          <div class="form-group col-md-10 text-center">
            <span class="h6">{{"don'tHaveAnAccount?"|translate}}</span>
            <a class="h6 main-color font-weight-bold" [routerLink]="[ '/signup'] ">
              {{ 'signup' | translate }}
            </a>
          </div>
        </div>




      </form>
    </div>
  </div>
</div>
