<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div [routerLink]="'/'" class="cursor-pointer">
                <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                <h6><strong>{{ 'Please enter your New Password And Confirm It' | translate }}</strong></h6>
            </div>
            <form role=" form " [formGroup]="restPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-content ">

                    <div class="form-group mb-3">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg" placeholder="{{'Old Password' | translate }}" #password>
                        <div *ngIf="restPasswordForm.controls.password.touched && !restPasswordForm.controls.password.valid" class="text-danger">
                            <div *ngIf="restPasswordForm.controls.password.errors.required">
                                {{ 'Old Password is required' | translate }}</div>
                        </div>
                    </div>

                    <div class="form-group  mb-3">
                        <input type="password" formControlName="confirmPassword" class="form-control input-underline input-lg" placeholder="{{'Confirm new Password' | translate }}" appConfirmEqualValidator='password' #confirmPassword>
                        <div *ngIf="restPasswordForm.controls.confirmPassword.touched && !restPasswordForm.controls.confirmPassword.valid" class="text-danger">
                            <div *ngIf="restPasswordForm.controls.confirmPassword.errors.required">
                                {{ 'confirmPassword is required' | translate }}</div>
                            <div *ngIf="restPasswordForm.controls.confirmPassword.errors?.notEqual">
                                {{ 'Password Mismatch' | translate }}</div>
                        </div>
                    </div>

                    <button class="btn rounded-btn " type="submit">{{ 'Reset' | translate }}</button> &nbsp;
                    <button class="btn rounded-btn " [routerLink]="[ '/signup'] ">{{ 'Register' | translate }}</button>

                </div>

            </form>
        </div>
    </div>
</div>