<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div [routerLink]="'/'" class="cursor-pointer">
        <img src="assets/images/logo.png" width="150px" class="user-avatar" />
        <h6><strong>{{ 'resetPassword' | translate }}</strong></h6>
      </div>
      <form role=" form " [formGroup]="restPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-content ">

          <div class="form-group mb-3">
            <input type="password" formControlName="password" class="form-control input-underline input-lg"
              placeholder="{{'newpassword' | translate }}" #password>
            <div *ngIf="restPasswordForm.controls.password.touched && !restPasswordForm.controls.password.valid"
              class="text-danger">
              <div *ngIf="restPasswordForm.controls.password.errors.required">
                {{ 'password.error.required' | translate }}</div>
            </div>
          </div>

          <div class="form-group  mb-3">
            <input type="password" formControlName="confirmPassword" class="form-control input-underline input-lg"
              placeholder="{{'confirmPassword' | translate }}" appConfirmEqualValidator='password' #confirmPassword>
            <div
              *ngIf="restPasswordForm.controls.confirmPassword.touched && !restPasswordForm.controls.confirmPassword.valid"
              class="text-danger">
              <div *ngIf="restPasswordForm.controls.confirmPassword.errors.required">
                {{ 'confirmPassword.error.required' | translate }}</div>
              <div *ngIf="restPasswordForm.controls.confirmPassword.errors?.notEqual">
                {{ 'confirmPassword.error.mismatch' | translate }}</div>
            </div>
          </div>

          <button class="btn rounded-btn " type="submit">{{ 'reset' | translate }}</button> &nbsp;
          <button class="btn text-primary " [routerLink]="[ '/signup'] ">{{ 'register' | translate }}</button>

        </div>

      </form>
    </div>
  </div>
</div>
