<div class="card mb-3">
  <div class="card-header">
    <div class="row text-center">
      <div class="col-md-3 col-sm-12">
        <span>{{'Order ID'|translate}} : </span>
        <span class="value"> {{order.id.slice(-7)}}</span>
        <span style="display:block;">{{'TotalPrice'|translate}} :<span class="value">{{getSubTotal()| currency:'EGP'}}</span></span>
      </div>
      <!-- <div class="col-md-3 col-sm-12">
        Order Date : <span> {{order.date | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="col-md-3 col-sm-12">
        Total Payment : <span> {{order.total_payment}}$ </span>
      </div> -->
      <div class=" col-md-4 col-sm-12  text-center">
       <span>{{'estimatedEndDate'|translate}} :</span> <span class="value">{{max|date:'fullDate'}}</span>
      </div>

      <div class="col-md-3 col-sm-12">
         Status : <span class="btn order-status"
          [ngClass]="{success: Finished()|| partiallyFinished() || Delivered() || partiallyDelivered() || InProgress(), warning: pending() || WaitingForQuotation() || WaitingForApproval(),danger: Cancelled() || quotationRejected()}">{{order.status}}</span>
      </div>

          <!-- Stand alone button to cancel all order -->
          <div class=" col-md-2 col-sm-12  text-center" *ngIf ="!Cancelled()">
            <input type="submit" class="btn btn-danger" value="Cancel Order" (click)="cancelOrder()">
          </div>


    </div>


  </div>
  <div class="card-body">
    <!-- <h5 class="card-title text-center">Order Details</h5> -->

    <!-- The Section tag hold all order body even the cancel button -->
    <section class="shopping-cart dark">

      <!-- container tag hold all order elements or all line items -->
      <div class="container">
        <!-- page Head -->
        <!-- End page Head -->

        <!-- Page Content -->
        <div class="content">
          <app-line-item *ngFor="let lineItem of order.lineItems" [lineItem]="lineItem"></app-line-item>
        </div>
        <!-- End Page Content -->

      </div>


      <div class="row" style="justify-content: space-around;" *ngIf='WaitingForApproval()'>
      <!-- <div class="row" style="justify-content: space-around;" *ngIf='Cancelled()'> -->
        <div class="mt-2">
          <input type="submit" class="btn btn-success" value="Approve" (click)="approveQuotation()">
          <!-- <button class="btn btn-success">
            Approve
          </button> -->
        </div>
        <div class="mt-2">
          <input type="submit" class="btn btn-danger" value="Reject" (click)="rejectQuotation()">
        </div>
      </div>
    </section>

  </div>

</div>
