  :host .order-status.success {
  background: #28a745;
  color: #fff;
  }
  :host .order-status.danger {
  background: #dc3545;
  color: #fff;
  }
  :host .order-status.warning {
  background: #ffc107;
  color: #212529;
  }

  /* .row.WFA {
    justify-content: space-around;
  } */
.value
{
  font-weight: bold;
}
