<app-alert></app-alert>
<section class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7  mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-header info-color white-text text-center py-4">
            <strong>Please enter your email address below and we will send you information to change your
              password.</strong>
          </h5>


          <form class="container" data-toggle="validator" #userForm="ngForm" class="form-signin" (ngSubmit)="userForm.valid && onSubmit(userForm)">
            <section class="form-row">
              <div class="form-group col-lg-8 mb-2">
                <label>Email Address</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" email required>
              <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Must be a valid email address</div>
              </div>
              </div>
            </section>

            <section class="form-row">
              <div class="form-group col-lg-3 mb-2">
                <input type="submit" class="btn btn-primary btn-block" value="Reset ">
              </div>
              <!-- <div class="form-group col-md-6 mb-2">
    </div> -->
            </section>
            <hr class="my-4">
            <section class="row">
              <div class="sign-up col-lg-6 mb-2">
                Create? <a href="../Registration/registration.html">New Account</a>
              </div>
            </section>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>