footer{
  background-color: #0E2546 ;
  color: white;
}

.logo-section{
  height: 50px;
}

a{
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: white !important;
}

a:hover{
  color: #5FBEC1 !important;
}
