<div [@routerTransition]>
  <app-page-header [heading]="'Programs'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>
  <form>
    <div class="form-group form-inline row">
      <div class="col-md-6">
        <input class="form-control ml-2" type="text" placeholder="{{'Search'|translate}}" name="searchTerm"
          [(ngModel)]="searchTerm" />
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
      </div>

    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">{{'id'|translate}}</th>
          <th scope="col">{{'name'|translate}}</th>
          <th scope="col" sortable="created" (sort)="onSort($event)">{{'created'|translate}}</th>
          <th scope="col">{{'Image'|translate}}</th>

          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entities$ | async; let i=index">
          <!-- <th scope="row">{{ i+1 }}</th> -->
          <td>
            <ngb-highlight [result]="entity.id.slice(-7)" [term]="searchTerm" #id></ngb-highlight>
          </td>

          <td>
            <ngb-highlight [result]="entity.name" [term]="searchTerm"></ngb-highlight>

          </td>
          <td>
            <ngb-highlight [result]="entity.created  | date: 'dd/MM/yyyy'" [term]="searchTerm"></ngb-highlight>

          </td>
          <td>
            <!-- <ngb-highlight [result]="getImageUrl(entity.id)" [term]="searchTerm"></ngb-highlight> -->
            <img [src]="getImageUrl(entity.id)" class="zoom" width="50px" alt="">

          </td>

          <td>
            <div>
              <a class="btn btn-outline-success btn-xs" [href]="getFileUrl(entity.id)">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
              <button type="button" class="btn btn-outline-primary ml-2" (click)="getServices(entity)"
                (click)="openModal(template)">Add-Service</button>
            </div>

            <!-- <a (click)="delete(entity)" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i></a> -->
            <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

            <ng-template #template>
              <div style="height: 0;">
                <!-- <div class="modal-header">
                <h4 class="modal-title pull-left">Add-Service</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->
                <div class="modal-body">

                  <select class="form-control" (change)="modalRef.hide();chooseService($event,entity)">

                    <option disabled selected value="undefined">{{'Please Select Service' | translate}}</option>
                    <ng-container *ngFor="let i of filterService">
                      <option [value]="i.id">{{i.name}}</option>
                    </ng-container>

                  </select>
                </div>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
    </div>

  </form>
  <!-- <button mat-fab class="mat-fab-top-right fixed mat-accent mat-fab button-left" routerLink="create">
    <mat-icon>{{'add'|translate}}</mat-icon>
  </button> -->
</div>
