   :host .order-status.success {
      background: #28a745;
      color: #fff;
  }

   :host .order-status.danger {
      background: #dc3545;
      color: #fff;
  }

   :host .order-status.warning {
      background: #ffc107;
      color: #212529;
  }
  /* .row.WFA {
    justify-content: space-around;
  } */

  label {
      font-weight: 600;
  }

  .card-header{
    border: 2px solid #0000000f;
    background: rgba(0,0,0,0.03);
  }

  // app-line-item{
  //   border-bottom: 3px solid white;
  // }



.cancelled{
  font-weight: 600;
  padding: 5px 10px;
  font-size: 17px;
  color: red;
  border: 3px dashed red;
}

.print-header{
  border-top: 2px solid #8080801f;
  background: #80808042;
  box-shadow: 0 12px 24px -11px #0000002c;
  border-bottom: 0px solid #fff
}

.print-footer{
  border-bottom: 2px solid #80808081;
}

.footer-info{
  align-items: center;
  justify-content: center;

}

.footer-info i{
  font-size: 25px;
}

.footer-info .border-left{
  border-left: 2px solid #80808081 !important;
}
.quot{
    background: #dee2e6ed;
    position: relative;
}
.quot:before {
    content: '';
  position: absolute;
    top: 0; right: 0;
    border-top: 52px solid  #dee2e6 ;
    border-left: 80px solid white;
    width: 0;
   transform: rotate(180deg);
   height: 100%;
}

.table  th,
.table  td{
  vertical-align: middle !important;
}
