<div class="card mb-3 light-grey-background">
  <div class="card-header">
    <div class="row ">
      <div class="col">
        <div class="row">
          <div class="col-md-6 my-auto">
              <label>{{'Order ID'|translate}} :&nbsp;</label>
              <span>{{order.id.slice(-7)}}</span>
          </div>
          <div class="col-md-6 my-auto">
              <label>{{'Ordered At'|translate}} :&nbsp;</label>
              <span>{{order.created | date:'fullDate'}}</span>
          </div>
          <div class="col-md-6 my-auto">
                <div *ngIf="checkStatus() != 'PENDING' && checkStatus() != 'CANCELLED' && checkStatus() != 'ORDER_REJECTED'">
                    <label > {{'Total Price'|translate}} :&nbsp;</label>
                    <span>{{getSubTotal()| currency:'EGP'}}</span>
                </div>
          </div>
          <div class=" col-md-6    my-auto" >
                <div *ngIf="checkStatus() != 'PENDING' && checkStatus() != 'CANCELLED' && checkStatus() != 'ORDER_REJECTED'">
                    <label>{{'Estimated End Date'|translate}} :&nbsp;</label> <span>{{max|date:'fullDate'}}</span>
                </div>
          </div>
          <div class="col-md-12  my-auto" *ngIf="checkStatus() != 'CANCELLED' && checkStatus() != 'ORDER_REJECTED' && checkStatus() != 'QUOTE_REJECTED';else terminated" >
                <app-steps [stepsArr]="statusArr" activeStep="{{order.status}}"></app-steps>
          </div>
          <ng-template #terminated>
                <div class="col-md-12  text-center mt-2 mt-md-0" >
                    <span class="cancelled">{{order.status | translate}}</span>
                </div>
          </ng-template>
        </div>
      </div>


            <!-- Stand alone button to cancel all order -->
            <div class=" col-md-2  text-center   my-auto" *ngIf="checkStatus() == 'PENDING' || checkStatus() == 'QUOTE_ACCEPTED' || checkStatus() == 'QUOTED' ">

                <button   class="btn btn-primary btn-block btn-sm m-1" *ngIf="checkStatus() == 'QUOTED'" (click)="approveQuotation()" >{{'APPROVE' | translate}} </button>
                <button   class="btn btn-primary btn-block btn-sm  m-1" *ngIf="checkStatus() == 'QUOTED'" (click)="rejectQuotation()" >{{'REJECT' | translate}}</button>


                <input type="submit" class="btn btn-sm btn-danger btn-block m-1" *ngIf="checkStatus() != 'IN_PROGRESS' && checkStatus() != 'FINISHED' && checkStatus() != 'DELIVERED' " value="{{'Cancel Order'|translate}}" (click)="cancelOrder()">
            </div>




    </div>


  </div>
  <div class="card-body">
    <!-- <h5 class="card-title text-center">Order Details</h5> -->

    <!-- The Section tag hold all order body even the cancel button -->
    <section class="shopping-cart dark">

      <!-- container tag hold all order elements or all line items -->
      <div class="container">
        <!-- page Head -->
        <!-- End page Head -->

        <!-- Page Content -->
        <div class="content">
          <app-line-item *ngFor="let lineItem of order.lineItems" [lineItem]="lineItem" status='{{order.status}}'>
          </app-line-item>
        </div>
        <!-- End Page Content -->

      </div>



    </section>

  </div>

</div>
