   :host .order-status.success {
      background: #28a745;
      color: #fff;
  }

   :host .order-status.danger {
      background: #dc3545;
      color: #fff;
  }

   :host .order-status.warning {
      background: #ffc107;
      color: #212529;
  }
  /* .row.WFA {
    justify-content: space-around;
  } */

  label {
      font-weight: 600;
  }

  .card-header{
    border: 2px solid #0000000f;
    background: rgba(0,0,0,0.03);
  }

  // app-line-item{
  //   border-bottom: 3px solid white;
  // }

  .status{
    padding: 20px;
    border-radius: 50%;
    font-size: 10px;
    background-color: white;
    z-index: 20;
  }

  .status:not(:last-child){
    margin-right: 20px;
  }

  .activestatus{
    background-color: green !important;
    color: white;
  }

.status-section{
  display: flex;
  justify-content: space-between;
  position: relative;

}

.status-progress-bar{
  margin: auto;
  height: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
//transform: translateY(-50%);
  //z-index: -10;
}