
<section class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7  mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-header info-color white-text text-center py-4">
            <strong>Please enter your New Password And Confirm It</strong>
          </h5>


          <form class="container" data-toggle="validator" [formGroup] = "restPasswordForm" class="form-signin" (ngSubmit)="onSubmit()">
            <section class="form-row">
              <div class="form-group col-lg-6 mb-3">
               <label>Password </label>
                <input type="password" formControlName="password" class="form-control" password>
                <div *ngIf="restPasswordForm.controls.password.touched && !restPasswordForm.controls.password.valid"
                  class ="text-danger">
                  <div *ngIf="restPasswordForm.controls.password.errors.required">password is required</div>
                  <div *ngIf="restPasswordForm.controls.password.errors.pattern">Password Should Be have Upper Letter and Number }}</div>
                </div>
              </div>

              <div class="form-group col-lg-6 mb-3">
                <label>Confirm new Password </label>
                <input type="password" formControlName="confirmPassword"  class="form-control" confirmPassword  appConfirmEqualValidator='password'>
                <div *ngIf="restPasswordForm.controls.confirmPassword.touched && !restPasswordForm.controls.confirmPassword.valid"
                class="text-danger">
                <div *ngIf="restPasswordForm.controls.confirmPassword.errors.required">confirmpassword is required</div>
                <div *ngIf="restPasswordForm.controls.confirmPassword.errors?.notEqual">Password Mismatch</div>
              </div>
              </div>

            </section>

            <section class="form-row">
              <div class="form-group col-lg-3 mb-2">
                <input type="submit" [disabled]="loading" class="btn btn-primary btn-block" value="Reset">
              </div>
              <!-- <div class="form-group col-md-6 mb-2">
    </div> -->
            </section>


          </form>
        </div>
      </div>
    </div>
  </div>
</section>
