<article class=" container card">
  <h4 class="text-center">{{serviceDetails.service.title}}</h4>
      <hr class="mt-0">
      <section class="row">
          <div class=" col-sm-4 my-border">
              <img class="card-img-top" [src]="serviceDetails.service.image" alt="Card image cap">
          </div>
          <div class="col-sm-8">
              <section>
              <form class="container"  data-toggle="validator" #userForm="ngForm" (ngSubmit)="userForm.valid && onSubmit(userForm)" >
                      <article class="row">
                          <div class="col-md-9">
                              <section class="form-row">
                                  <div class="form-group col-sm-6 mb-2">
                                      <label>Planned Delivery Date </label>
                                      <input type="date" name="deliveryDate"  [(ngModel)]="serviceDetails.deliveryDate" #deliveryDate ="ngModel"   class="form-control"  required>
                                      <div *ngIf="userForm.submitted && deliveryDate.invalid" class="text-danger">
                                        <div *ngIf="deliveryDate.errors.required">Delivery Date is required</div>
                                    </div>
                                  </div>
                                  <div class="form-group col-sm-6 mb-2">
                                      <label>upload your design file </label>
                                      <input type="file" name="file"  [(ngModel)]="serviceDetails.file" #file ="ngModel"  class="form-control"
                              required>
                              <div *ngIf="userForm.submitted && file.invalid" class="text-danger">
                                <div *ngIf="file.errors.required">file is required</div>
                            </div>
                                  </div>
                              </section>
                              <section class="form-row">
                                  <div class="form-group col-sm-6 mb-2">
                                      <label>Color</label>
                                      <select name="color" class="form-control"  [(ngModel)]="serviceDetails.color" #color ="ngModel"  required>
                                          <option value="red">Red</option>
                                          <option value="green">Green</option>
                                          <option value="yellow">yellow</option>
                                      </select>
                                      <div *ngIf="userForm.submitted && color.invalid" class="text-danger">
                                        <div *ngIf="color.errors.required">color is required</div>
                                    </div>
                                  </div>
                                  <div class="form-group col-sm-6 mb-2">
                                      <label>Material</label>
                                      <select name="material" class="form-control"  [(ngModel)]="serviceDetails.material" #material ="ngModel" required>
                                          <option value="Material-1">Material-1</option>
                                          <option value="Material-2">Material-2</option>
                                          <option value="Material-3">Material-3</option>
                                      </select>
                                      <div *ngIf="userForm.submitted && material.invalid" class="text-danger">
                                        <div *ngIf="material.errors.required">material is required</div>
                                    </div>
                                  </div>
                              </section>
                              <section class="form-row">
                                  <div class="form-group col-sm-6 mb-2">
                                      <label>Type of Project </label>
                                      <select name="typeProject" class="form-control" [(ngModel)]="serviceDetails.typeProject" #typeProject ="ngModel" required>
                                          <option value="curricular">University - Curricular Project</option>
                                          <option value="extraCurricular">University - ExtraCurricular Project
                                          </option>
                                          <option value="personal">Personal</option>
                                      </select>
                                      <div *ngIf="userForm.submitted && typeProject.invalid" class="text-danger">
                                        <div *ngIf="typeProject.errors.required">type of Project is required</div>
                                    </div>
                                  </div>
                                  <div class="form-group col-sm-6 mb-2">
                                      <label>Units used in file </label>
                                      <select name="unit" class="form-control" [(ngModel)]="serviceDetails.unit" #unit ="ngModel" required>
                                          <option value="cm">cm</option>
                                          <option value="mm">mm</option>
                                          <option value="inches">inches</option>
                                      </select>
                                      <div *ngIf="userForm.submitted && unit.invalid" class="text-danger">
                                        <div *ngIf="unit.errors.required">unit of Project is required</div>
                                    </div>
                                  </div>

                              </section>
                          </div>
                          <div class="col-md-3 my-border-left">
                              <input type="submit" class="btn btn-primary btn-block" value="checkout">
                          </div>
                      </article>
                  </form>
              </section>
          </div>
      </section>
      <!--////////////////////////////////////////////////////////////////////////////////////-->
      <hr class="mb-0">
      <div class="card-body">
          <h5 class="card-title">Card Description</h5>
          <p class="card-text">
            {{serviceDetails.service.description}}
          </p>
      </div>
  </article>
