
.fa-angle-down:before,.fa-angle-up:before{
    width: 30px;
    height: 30px;
    background-color:#EBEBEB;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
    color: #0E2546;
}
