<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div [routerLink]="'/'" role="button" class="cursor-pointer text-center">
        <img class="user-avatar" src="assets/images/logo.png" width="150px" />
        <h1 class="text-center">{{'brand.registration'|translate}}</h1>
      </div>
      <form role="form" *ngIf="registrationForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()"
        class="container">
        <div class="form-content">


          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" formControlName="name" class="form-control input-underline input-lg"
                placeholder="{{'name' | translate }}" #name>
              <div *ngIf="registrationForm?.controls.name.touched && !registrationForm.controls.name.valid"
                class="text-danger text-center">
                <div class="text-center" *ngIf="registrationForm.controls.name.errors.required">
                  {{ 'companyName.error.required' | translate }}
                </div>
              </div>
            </div>


          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" formControlName="mobileNo" class="form-control input-underline input-lg"
                placeholder="{{'personalPhoneNumber' | translate }}" #mobileNo>
              <div *ngIf="registrationForm.controls.mobileNo.touched && !registrationForm.controls.mobileNo.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.mobileNo.errors.required">
                  {{ 'personalPhoneNumber.error.required' | translate }}</div>
                <div *ngIf="registrationForm.controls.mobileNo.errors.pattern">
                  {{ 'personalPhoneNumber.error.invalid' | translate }}</div>
              </div>
            </div>
          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3 spacial-multiselect">
              <!-- <input type="text" class="form-control input-underline input-lg"
                placeholder="{{ 'services' | translate }}" formControlName="services" #services> -->
              <ng-multiselect-dropdown placeholder="{{ 'services' | translate }}" formControlName="services"
                [settings]="dropdownSettings" [data]="dropdownList" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
              </ng-multiselect-dropdown>
              <div *ngIf="registrationForm.controls.services.touched && !registrationForm.controls.services.valid"
                class="text-danger text-center">
                <div *ngIf="registrationForm.controls.services.errors.required">
                  {{ 'services.error.required' | translate }}</div>
              </div>

            </div>
          </section>

          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" class="form-control input-underline input-lg" placeholder="{{ 'city' | translate }}"
                formControlName="city" #city>
              <div *ngIf="registrationForm.controls.city.touched && !registrationForm.controls.city.valid"
                class="text-danger text-center">
                <div class="text-center" *ngIf="registrationForm.controls.city.errors.required">
                  {{ 'city.error.required' | translate }}
                </div>
              </div>
            </div>

          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" class="form-control input-underline input-lg" placeholder="{{ 'address' | translate }}"
                formControlName="address" #address>
              <div *ngIf="registrationForm.controls.address.touched && !registrationForm.controls.address.valid"
                class="text-danger text-center">
                <div class="text-center" *ngIf="registrationForm.controls.address.errors.required">
                  {{ 'address.error.required' | translate }}</div>
                <div class="text-center" *ngIf="registrationForm.controls.address.errors.minlength">
                  {{ 'address.error.length' | translate }}</div>
              </div>

            </div>
          </section>



          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" class="form-control input-underline input-lg"
                placeholder="{{ 'companyWebsite' | translate }}" formControlName="website" #website>
              <div *ngIf="registrationForm.controls.website.touched && !registrationForm.controls.website.valid"
                class="text-dangertext-center">
                <div class="text-center" *ngIf="registrationForm.controls.website.errors.required">
                  {{ 'companyWebsite.error.required' | translate }}</div>
                <div class="text-center" *ngIf="registrationForm.controls.website.errors.minlength">
                  {{ 'companyWebsite.error.length' | translate }}</div>
              </div>

            </div>
          </section>
          <!-- <div class="form-group col-sm-6">
            <a href="#"> Agree to the terms and conditions </a>
            <input type="checkbox" formControlName="agree" #agree>
            <div *ngIf="registrationForm.controls.agree.touched && !registrationForm.controls.agree.valid"
              class="text-danger">
              <div *ngIf="registrationForm.controls.agree.errors.required">
                {{ 'Agree is required' | translate }}</div>
            </div>
          </div> -->
        </div>
        <div class="text-center mb-5">
          <input type="submit" class="btn rounded-btn" value="{{ 'register' | translate }} ">&nbsp;
          <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'Register' | translate }}</a>&nbsp; -->
          <a class="btn text-primary" [routerLink]="['/login']">{{ 'logIn' | translate }}</a>
        </div>

      </form>

    </div>
  </div>
</div>
