<article class=" container card">
    <h4 class="text-center">this is the Title of Service</h4>
    <hr class="mt-0">
    <section class="row">
        <div class=" col-sm-4 my-border">
            <img class="card-img-top" src="assets/img1.jpg" alt="Card image cap">

        </div>
        <div class="col-sm-8">
            <section>
                <form class="container" data-toggle="validator">
                    <article class="row">
                        <div class="col-md-9">
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Planned Delivery Date </label>
                                    <input type="date" name="delivery" class="form-control" required>
                                    <div class="text-danger error-none">
                                        <small>filed is required</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>upload your design file </label>
                                    <input type="file" name="file" class="form-control" required>
                                    <div class="text-danger error-none">
                                        <small>filed is required</small>
                                    </div>
                                </div>
                            </section>
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Color</label>
                                    <select name="color" class="form-control" required>
                                        <option value="red">Red</option>
                                        <option value="green">Green</option>
                                        <option value="yellow">yellow</option>
                                    </select>
                                    <div class="text-danger error-none">
                                        <small>filed is required</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Material</label>
                                    <select name="material" class="form-control" required>
                                        <option value="Material-1">Material-1</option>
                                        <option value="Material-2">Material-2</option>
                                        <option value="Material-3">Material-3</option>
                                    </select>
                                    <div class="text-danger error-none">
                                        <small>filed is required</small>
                                    </div>
                                </div>
                            </section>
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Type of Project </label>
                                    <select name="project" class="form-control" required>
                                        <option value="curricular">University - Curricular Project</option>
                                        <option value="extraCurricular">University - ExtraCurricular Project
                                        </option>
                                        <option value="personal">Personal</option>
                                    </select>
                                    <div class="text-danger error-none">
                                        <small>filed is required</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Units used in file </label>
                                    <select name="unit" class="form-control" required>
                                        <option value="cm">cm</option>
                                        <option value="mm">mm</option>
                                        <option value="inches">inches</option>
                                    </select>
                                    <div class="text-danger error-none">
                                        <small>filed is required</small>
                                    </div>
                                </div>

                            </section>
                        </div>
                        <div class="col-md-3 my-border-left">
                            <input type="submit" class="btn btn-primary btn-block" value="submit">
                        </div>
                    </article>
                </form>
            </section>
        </div>
    </section>
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <hr class="mb-0">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            This card has supporting text below as a natural lead-in to additional content.
            This card has supporting text below as a natural lead-in to additional content.
        </p>
    </div>
</article>
