@charset "UTF-8";

.upcoming-events {
  padding-top: 25px;
  background-color: #dadde6;
}

h2.main-heading {
  font-weight: bold;
  padding: 0px 15px;
  margin: 50px 0 20px -30px;
  border-left: 12px solid orange;
}
