<div class="p-4" [@routerTransition] *tdLoading="'loading';strategy:'overlay'">
  <div>
    <app-page-header  [breadCrumbs]="breadcrumbs"></app-page-header>
  </div>
  <main class="page">
    <section class="shopping-cart dark ">
      <div>
        <!-- Page Content -->
        <ng-container *ngIf="(items)?.length!=0 else anonymous">
          <!-- <ng-container> -->
          <div class="container-fluid">
              <div class="row align-items-start">
                <!-- Cart Items Table -->
                <div class="col-md-8 " [ngClass]="{'pl-0': lang==='en', 'pr-0': lang==='ar'}">
                  <div class="items">
                    <!-- One Item Row -->
                    <div class="custom-card  p-3 mb-4" *ngFor="let entity of items;let i =index">
                      <div class="row">
                        <div class="col-md-3 text-center service-image mb-2">
                          <img class="img-fluid " [src]="appConfig.FILE_URL + entity.files[0].asset_id"
                            *ngIf="getFileExtension(entity) == 'image';else stlExtension">
                          <ng-template #stlExtension>
                            <div class="text-center" *ngIf="getFileExtension(entity) == 'stl';else serviceImage">

                              <img class="img-fluid " [src]="appConfig.serviceImage(entity.service)">
                              <app-stl-modal [stlPath]="appConfig.FILE_URL + entity.files[0].asset_id"></app-stl-modal>
                            </div>
                          </ng-template>
                          <ng-template #serviceImage>
                            <img class="img-fluid " [src]="appConfig.serviceImage(entity.service)">
                          </ng-template>



                        </div>
                        <div class="col-md-9">
                          <div class="info">

                            <div class="row">
                              <div class="col-md-12 ">
                                <h5 class="border-bottom pb-3 site-color-v4 f-weight-600">
                                  {{entity.service.name}}
                                </h5>
                              </div>
                            </div>

                            <div class="row mt-3">
                              <div class="col-md-8 product-name mb-2 mb-md-0">
                                <div class="product-name">

                                  <div class="product-info">

                                    <div class=" quantity ">

                                      <button (click)="decreaseQuantity(entity, quantity.value)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                      <input id="quantity" type="number" min="1" [disabled]="loading"
                                        (change)="updateItem(entity, quantity.value)" value="{{entity.quantity}}"
                                        #quantity class="d-inline-block form-control text-center quantity-input">
                                      <button (click)="increaseQuantity(entity, quantity.value)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 price text-right my-auto">

                                <a class="btn btn-outline-success btn-xs" [href]="getFileUrl(entity)"
                                  tooltip="{{'download' | translate}}" hide-delay="0">
                                  <i class="fa fa-download" aria-hidden="true"></i>
                                </a>

                                <button type="button" [disabled]="loading" class="btn btn-outline-danger btn-xs ml-3"
                                  tooltip="{{'delete' | translate}}" hide-delay="0" (click)="openModal(deleteConfirm)">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <ng-template #deleteConfirm>
                                  <div class="modal-body ">
                                    <div>
                                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="text-center mt-2 text-danger">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                    <div class="text-center mt-2 site-color-v3 f-weight-600 f-size-20">
                                      {{'deleteItem'|translate}}
                                    </div>
                                    <div class="text-center f-size-14 text-grey mt-2">
                                      {{'deleteDescription'|translate}}
                                    </div>
                                    <div class="text-center my-2 f-weight-600">
                                      <button class="custom-btn v4 mr-3" (click)="modalRef.hide()">{{'cancel'|translate}}</button>
                                      <button class="custom-btn btn-danger" (click)="delete(entity);modalRef.hide()">{{'delete'|translate}}</button>
                                    </div>
                                  </div>
                                </ng-template>


                              </div>
                            </div>
                            <div class="container-fluid f-size-13 f-weight-600">
                              <div class="row  mt-3" *ngFor="let file of entity.files ;index as j" >

                                <div class="form-body">
                                  <div class="row">
                                    <div class="col-md-6 mb-2">
                                      <div>
                                        <label>{{'file.height' | translate }} :&nbsp;</label>
                                        <span class="text-danger" #heightErr></span>
                                        <input type="number" [value]="file.height" class="form-control"
                                          (change)="inputNumberChanged(entity,$event,'height',heightErr)">
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                      <div>
                                        <label>{{'file.width' | translate }} :&nbsp;</label>
                                        <span class="text-danger" #widthErr></span>
                                        <input type="number" [value]="file.width" class="form-control"
                                          (change)="inputNumberChanged(entity,$event,'width',widthErr)">
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-2" *ngIf="file.material != undefined">
                                      <div>
                                        <label>{{'file.material' | translate }} :&nbsp;</label>

                                        <select class="form-control " [ngModel]="file.material"
                                          (change)="selectChange(entity,$event,'material')">
                                          <option *ngFor="let mat of entity.service.materials" [value]="mat">{{mat}}
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-2" *ngIf="file.type != undefined">

                                      <label>{{'file.type' | translate }} :&nbsp;</label>
                                      <select class="form-control " [ngModel]="file.type"
                                        (change)="selectChange(entity,$event,'type')">
                                        <option *ngFor="let t of entity.service.types" [value]="t">{{t}}</option>
                                      </select>
                                    </div>
                                    <div class="col-md-6 mb-2" *ngIf="file.thickness != undefined">

                                      <label>{{'file.thickness' | translate }} :&nbsp;</label>
                                      <select class="form-control " [ngModel]="file.thickness"
                                        (change)="selectChange(entity,$event,'thickness')">
                                        <option *ngFor="let thick of entity.service.thickness" [value]="thick">{{thick}}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="col-md-6 mb-2" *ngIf="file.color != undefined">

                                      <label>{{'file.color' | translate }} :&nbsp;</label>
                                      <select class="form-control " [ngModel]="file.color"
                                        (change)="selectChange(entity,$event,'color')">
                                        <option *ngFor="let c of entity.service.colors" [value]="c">{{c}}</option>
                                      </select>
                                    </div>
                                    <div class="col-md-6 mb-2" *ngIf="file.unit != undefined">

                                      <label>{{'file.unit' | translate }} :&nbsp;</label>
                                      <select class="form-control " [ngModel]="file.unit"
                                        (change)="selectChange(entity,$event,'unit')">
                                        <option *ngFor="let c of entity.service.units" [value]="c">{{c}}</option>
                                      </select>
                                    </div>
                                    <div class="col-md-6 mb-2" *ngIf="file.processes != undefined">
                                      <label>{{'file.processes' | translate }} :&nbsp;</label>
                                      <span class="text-danger" #multiSelectErr></span>
                                      <div *ngIf="!entity.service.processes.multi ; else multiDrop">
                                        <select class="form-control " [ngModel]="file.processes"
                                          (change)="selectChange(entity,$event,'processes')">
                                          <option *ngFor="let v of entity.service.processes.values" [value]="v">{{v}}
                                          </option>
                                        </select>
                                      </div>
                                      <ng-template #multiDrop>

                                        <ng-multiselect-dropdown [settings]="dropdownSettings"
                                          [data]="entity.service.processes.values" [(ngModel)]="selectedItemsArray[i]"
                                          (onSelect)="onItemSelect(entity,i,multiSelectErr)"
                                          (onDeSelect)="onItemDeSelect(entity,i,multiSelectErr)"
                                          (onSelectAll)="onSelectAll(entity,$event,multiSelectErr)"
                                          (onDeSelectAll)="onDeSelectAll(multiSelectErr)">
                                        </ng-multiselect-dropdown>
                                      </ng-template>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                      <div >
                                        <label>{{ 'notes' | translate }} :&nbsp;</label>
                                        <textarea [value]="entity.notes ? entity.notes : ''" rows="3" class="form-control"
                                          (change)="textAreaChange(entity,notes.value)" #notes></textarea>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- End One Item Row -->

                  </div>
                </div>
                <!-- End Cart Items Table -->

                <!-- Cart Summary & Checkout -->
                <div class="col-md-4  p-4 stick-to-top custom-card f-weight-600">

                    <h3 class="text-center pb-3 border-bottom site-color-v3  f-size-24">{{'summary' | translate }}</h3>
                    <div class="mt-3 pb-3 border-bottom text-center site-color-v3  f-size-20">
                      {{items.length}} {{'servicesAreAdded'|translate}}
                    </div>

                    <button type="button" class="mt-3 custom-btn py-2 v1 btn-block"
                      (click)="openModal(checkOutModal)">{{ 'confirmOrder' | translate }}</button>
                    <button type="button" *ngIf="hasAdminRole" class="py-2 custom-btn v4 btn-block"
                      (click)="convertToGallery()">{{ 'convertToGallery' | translate }}</button>
                    <button type="button" class="custom-btn py-2 v2 btn-block "
                      routerLink="/shopping-cart/CartItem">
                      {{ 'continueShopping' | translate }}
                    </button>

                </div>
                <!-- End Cart Summary & Checkout -->

              </div>

          </div>
        </ng-container>

        <ng-template #anonymous>
          <div class="text-center">
            {{'please Select Service To Create Your ShoppingCart'|translate}}
          </div>
        </ng-template>

      </div>
    </section>
  </main>
</div>

  <ng-template #checkOutModal>
    <div class="modal-body ">
      <div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center mt-2 site-color-v1">
        <i class="fas fa-shipping-fast fa-3x"></i>
      </div>
      <div class="text-center mt-2 site-color-v3 f-weight-600 f-size-20">
        {{'chooseShippingAddress'|translate}}
      </div>

      <div *ngFor="let address of myAddressess;let i=index;" class="d-flex  align-items-center my-3">
        <div class="custom-control custom-radio my-auto w-100">
          <input (change)="changeShippingAddress($event)"  [value]="address.id"
          [checked]="myShippingAddress ? (address.id===myShippingAddress) : i===0" name="shipping-address"
          class="custom-control-input f-size-18" type="radio" id="'address_'{{address.id}}" >
          <label for="'address_'{{address.id}}" class="custom-control-label">
            <span class="f-weight-600 site-color-v3">
              <ng-container *ngIf="lang==='en'">
                {{address.city.state.enName}}-{{address.city.enName}}
              </ng-container>
              <ng-container *ngIf="lang==='ar'">
                {{address.city.state.arName}}-{{address.city.arName}}
              </ng-container>
            </span>
            <div class="text-grey f-weight-400">
              {{address.name}} - {{address.lineOne}} - {{address.lineTwo}}
            </div>
          </label>
        </div>
        <div class="border-left ml-2 pl-2">
          <span (click)="modalRef.hide()" routerLink="/address-book/{{address.id}}"
          [state]="{'fromRoute':'/shopping-cart'}" class="cursor-pointer site-color-v1">{{'edit'|translate}}</span>
        </div>
      </div>
      <div class="text-center my-2 f-weight-600">
        <button class="custom-btn v4 mr-3" (click)="modalRef.hide()">{{'cancel'|translate}}</button>
        <button class="custom-btn v1" (click)="checkout();modalRef.hide()">{{'confirm'|translate}}</button>
      </div>
    </div>
  </ng-template>
