<main class="page">
    <section class="tracking-orders ">

        <div class="container">

            <!-- Page Head -->
            <div class="block-heading text-center">
                <h2>{{'My Orders'|translate}}</h2>
                <p>{{'You can track and manage all of your orders'|translate}} </p>
            </div>
            <!-- End Page Head -->

            <!-- Old Static Data was here -->

            <!-- <div class="card mb-3" *ngFor='let order of orders'>
          <app-order-card ></app-order-card>
        </div> -->
            <app-order-card class="col-md-4" *ngFor="let entity of entities$ | async" [order]="entity"></app-order-card>

        </div>
    </section>

</main>