.rtl {
    a,
    i {
        text-align: right;
        direction: rtl !important;
    }
    .sidebar {
        left: auto !important;
        right: 0 !important;
        >ul.list-group {
            padding: 0;
        }
    }
    .main-container {
        margin-left: 0 !important;
        margin-right: 235px;
    }
    /*rtl dropdown items correction*/
    .dropdown-menu {
        text-align: right;
    }
    * {
        direction: rtl;
    }
    .navbar * {
        direction: ltr;
    }
    .sidebar * {
        direction: ltr;
    }
    .navbar .dropdown-menu {
        text-align: left;
    }
    .breadcrumb {
        direction: ltr;
        flex-direction: row-reverse;
        // .breadcrumb-item {
        //   direction: ltr;
        // }
        .bread-item {
            direction: initial;
        }
        * {
            // direction: ltr;
            // justify-content: right;
        }
    }
    .datepicker-input {
        direction: ltr;
        .dropdown-menu {
            direction: ltr;
            * {
                direction: ltr;
            }
        }
    }
    .input-group {
        direction: ltr;
    }
    .form-rtl {
        text-align: right;
    }
    .shopping-cart .summary {
        text-align: initial;
    }
    .shopping-cart .summary .price {
        float: left !important;
    }
    .card-form .form-body {
        text-align: right;
    }
}

@media screen and (max-width: 992px) {
    .rtl {
        .navbar-brand {
            direction: ltr;
        }
        .sidebar {
            right: -235px !important;
        }
        .main-container {
            margin-right: 0;
        }
        &.push-right {
            .sidebar {
                left: auto !important;
                right: 0 !important;
            }
        }
    }
}