.h-500{
    height: 500px;
}

$color-collection: (orange,aqua, blue,white,silver,brown,red,purple,pink,olive,gold,green);

@each $color in $color-collection {
    .#{""+$color} {
        background-color: $color;
        width: 30px;
        height: 30px;
        border: none;
    }
}