<!-- Slider -->
<div class="container">

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img03.jpg" alt="Los Angeles">
        <div class="carousel-caption">
          <h3>Test One</h3>
          <p>We had such a great time in LA!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img04.jpg" alt="Chicago">
        <div class="carousel-caption">
          <h3>Test Two</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img05.jpg" alt="New York">
        <div class="carousel-caption">
          <h3>Test Three</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</div>
<!-- End Slider -->


<!-- Service Cards -->
<!-- u changed cards img from data-src to src -->
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <app-service-card class="col-md-4" *ngFor="let service of services" [service]="service"></app-service-card>

    </div>
  </div>

</div>
<!-- </div> -->
<!-- End Service Cards -->

<!-- <app-service-cards-section></app-service-cards-section> -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
