<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <!-- page Head -->
            <div class="block-heading">
                <h2>I Lab Manufacturing Request</h2>
                <p>Turn your Ideas Into Reality And Change Your Future </p>
            </div>
            <!-- End page Head -->

            <!-- Page Content -->
            <div class="content" *ngIf = "!checkItems() && checkItems() !=null">

                <div class="row">

                    <!-- Cart Items Table -->
                    <div class="col-md-12 col-lg-8">
                        <div class="items">

                            <!-- One Item Row -->
                            <div class="product" *ngFor="let item of items,let i=index ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image" [src]="getImageUrl(i)">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a [routerLink]="['/CartItem']" [queryParams]="{service:item.service.id}">{{item.service.name}}</a>
                                                        <div class="product-info">
                                                            <div>Deliver Date: <span class="value">{{item.plannedStartDate |date:"mediumDate" |titlecase}}</span></div>
                                                            <div>Type Of Project: <span class="value">{{item.projectType |titlecase}}</span></div>
                                                        <div>Digital Material: <span class="value"><a [href]="getFileUrl(i)">{{item.asset_name}}</a></span></div>
                                                            <div>Units Used In File: <span class="value">{{item.unit |titlecase}}</span></div>
                                                            <div>Color: <span class="value">{{item.color |titlecase}}</span></div>
                                                            <div>Material: <span class="value">{{item.material |titlecase}}</span></div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" min="1" [disabled]="loading" (change)="updateItem(item)" [(ngModel)]="item.quantity" #quantity='ngModel' class="form-control quantity-input">
                                                </div>

                                                <div class="col-md-2 price">
                                                    <span>NA</span>
                                                </div>

                                                <div class="col-md-2 price">
                                                    <!-- <span>$120</span> -->
                                                    <button type="button" [disabled]="loading" class="btn btn-outline-danger btn-xs" (click)="deletItem(item.id)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>

                                                </div>

                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End One Item Row -->

                        </div>
                    </div>
                    <!-- End Cart Items Table -->

                    <!-- Cart Summary & Checkout -->
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">NA</span></div>
                            <!-- <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Total</span><span class="price">$360</span></div> -->
                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="checkout()">{{ 'Checkout' | translate }}</button>
                        </div>
                    </div>
                    <!-- End Cart Summary & Checkout -->

                </div>
            </div>
            <!-- End Page Content -->
            <div  class="text-center" *ngIf = "checkItems()">
              please Select Service To Create Your ShoppingCart
            </div>

        </div>
    </section>
</main>
