<div class="row">

    <!-- Cart Items Table -->
    <div class="col-md-12 col-lg-12">
        <div class="items">

            <!-- One Item Row -->
            <div class="product">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-fluid mx-auto d-block image" [src]="getImageUrl()">
                    </div>
                    <div class="col-md-9">
                        <div class="info">
                            <div class="row">
                                <div class="col-md-12 product-name">
                                    <h5 class="text-center">{{lineItem.service.name}}</h5>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div><span class="col-md-4">Planned Start Date :</span><span class="value ">{{ lineItem.plannedStartDate | date:'dd-MM-yyyy' }}
                                            </span></div>
                                            <div><span class="col-md-4">Color :</span><span class="value ">{{lineItem.color}}</span></div>
                                            <div><span class="col-md-4">Type of project :</span><span class="value ">{{lineItem.projectType}}</span></div>
                                            <div><span class="col-md-4">Quantity :</span><span class="value ">{{lineItem.quantity}}</span></div>
                                        </div>
                                        <div class="col-md-6">
                                        <div><span class="col-md-4">Uploaded File :</span><a href="{{getFileUrl()}}">{{lineItem.asset_name}}</a></div>
                                            <div><span class="col-md-4">Units used in file :</span><span class="value ">{{lineItem.unit}}</span></div>
                                            <!-- <div><span class="col-md-4"></span>Price: <span class="value ">{{lineItem.unitPrice}}</span></div> -->
                                            <div><span class="col-md-4">Material :</span><span class="value ">{{lineItem.material}}</span></div>
                                        </div>

                                    </div>
                                    <div class="row">
                                      <div class="col-md-12 notes ">
                                        <div class="ml-3">Notes: <span class="value">{{lineItem.notes |titlecase}}</span></div>
                                      </div>
                                    </div>
                                </div>

                                <!-- {{lineItem.status}} -->

                                <!-- <div class="col-md-3 price">
                  <div class="btn btn-warning"></div>
                </div>
                <div class="col-md-1 price">
                  <button type="button" class="btn btn-outline-danger btn-xs">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End One Item Row -->

        </div>
    </div>

    <!-- End One Item Row -->

</div>
<div class="dropdown-divider"></div>
