.custom-bread-item::before {
content: ' / ';
color: gray;

}

ol li a{
  color: gray;
}

ol li:last-of-type a{
  color: #63C6C9;

}
ol li  :hover{
  color: #63C6C9;
}

.breadcrumb{
  background-color: transparent;
}
