<div class="row">
  <div class="col-xl-12">
    <ol class="breadcrumb p-0">

      <li class="bread-item">
        <a [routerLink]="['/home']" class="d-block">
          <!-- <i class="fa fa-home"></i> -->
          <span>{{'home'|translate}}</span></a>
      </li>
      <li class="bread-item  active" style="padding: 0 2px;" *ngFor="let breadcrumb of breadCrumbs">
        <a [routerLink]="breadcrumb.link" class="d-block custom-bread-item">
          <!-- <i class="fa {{breadcrumb.icon}}"></i> -->
          {{breadcrumb.heading |translate}} </a>
      </li>
    </ol>
  </div>
</div>
