<article class=" container card">
    <h4 class="text-center">{{service?.title}}</h4>
    <hr class="mt-0">
    <section class="row">
        <div class=" col-sm-4 my-border">
            <img class="card-img-top" *ngIf="service" [src]="service?.image" alt="Card image cap">
        </div>
        <div class="col-sm-8">
            <section>
                <form class="container" data-toggle="validator" #userForm="ngForm" (ngSubmit)="userForm.valid && onSubmit(userForm)">
                    <article class="row">
                        <div class="col-md-9">
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Planned Delivery Date </label>
                                    <input type="date" name="deliveryDate" [(ngModel)]="item.deliveryDate" #deliveryDate="ngModel" class="form-control" required>
                                    <div *ngIf="userForm.submitted && deliveryDate.invalid" class="text-danger">
                                        <div *ngIf="deliveryDate.errors.required">Delivery Date is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label >upload your design file</label>
                                    <input type="file" name="file" [(ngModel)]="item.file" #file="ngModel" class="form-control" required>
                                    <div *ngIf="userForm.submitted && file.invalid" class="text-danger">
                                        <div *ngIf="file.errors.required">file is required</div>
                                    </div>
                                </div>
                            </section>
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Color</label>
                                    <select name="color" class="form-control" [(ngModel)]="item.color" #color="ngModel" required>
                                        <option value="red">Red</option>
                                        <option value="green">Green</option>
                                        <option value="yellow">yellow</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && color.invalid" class="text-danger">
                                        <div *ngIf="color.errors.required">color is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Material</label>
                                    <select name="material" class="form-control" [(ngModel)]="item.material" #material="ngModel" required>
                                        <option value="Material-1">Material-1</option>
                                        <option value="Material-2">Material-2</option>
                                        <option value="Material-3">Material-3</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && material.invalid" class="text-danger">
                                        <div *ngIf="material.errors.required">material is required</div>
                                    </div>
                                </div>
                            </section>
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Type of Project </label>
                                    <select name="typeProject" class="form-control" [(ngModel)]="item.projectType" #typeProject="ngModel" required>
                                        <option value="curricular">University - Curricular Project</option>
                                        <option value="extraCurricular">University - ExtraCurricular Project
                                        </option>
                                        <option value="personal">Personal</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && typeProject.invalid" class="text-danger">
                                        <div *ngIf="typeProject.errors.required">type of Project is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Units used in file </label>
                                    <select name="unit" class="form-control" [(ngModel)]="item.unit" #unit="ngModel" required>
                                        <option value="cm">cm</option>
                                        <option value="mm">mm</option>
                                        <option value="inches">inches</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && unit.invalid" class="text-danger">
                                        <div *ngIf="unit.errors.required">unit of Project is required</div>
                                    </div>
                                </div>

                            </section>
                        </div>
                        <div class="col-md-3 my-border-left">
                            <input type="submit" [disabled]="loading" class="btn btn-primary btn-block" value="add to cart">
                        </div>
                    </article>
                </form>
            </section>
        </div>
    </section>
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <hr class="mb-0">
    <div class="card-body">
        <h5 class="card-title">Service Description</h5>
        <p class="card-text" hidden>
            {{service?.description}}
          </p>
            <div *ngIf="service.id == 1">
            <small class="description"> 1- Computer-controlled cutting machine used for cutting various hard materials.</small>
            <small class="description">   2- Performs the tasks of many carpentry shop machines such as the panel saw, the spindle moulder, and the boring machine.</small>
              <small class="description">  3- CNC equipment that uses laser to engrave and cut metal/non-metal materials.</small>
                <small class="description">  4- The machines equipped with high-dynamic step motor and high-accuracy linear guide way,</small>
                  <small class="description">    leading to high dynamic response and load capacity.</small>
              <img src="assets/lazer.png" alt="" width="100%">
            </div>
            <div *ngIf = "service.id == 2">
           <small class="description">  1- Print with over 15 different print materials or combine two different materials into one single print.</small>
           <small class="description">  2- Print anything in 3D with amazing details.</small>
           <small class="description">  3- ​Print quality ranging from 50 micron up to 250 micron.</small>
           <small class="description">  4- Provides users with an intuitive, easy-to-use manufacturing tool for every stage of their product development workflow.</small>
           <small class="description">  5- Print Mechanical parts, Mockups for product design, Robotics parts, and Architecture designs.</small>
              <img src="assets/3DPrinting.png" alt="" width="100%">
            </div>
            <div *ngIf = "service.id == 3">
            <small class="description">  1- Offers an enhanced Handheld HD Scan Mode and enlarged scan range.</small>
            <small class="description">  2- Captures 3D model of medium to large size objects with high efficiency.</small>
            <small class="description">  3- Meets demands for wider range of applications.</small>
            <small class="description">  4- Measures the geometry of physical objects by sensing discrete points on the surface of the object with a probe.</small>
            <small class="description">  5- Offers Point-to-point and optional scanning configurations with high resolution scales.</small>
              <img src="assets/3DScaning.png" alt="" width="100%">
            </div>

    </div>
</article>
