<article class=" container card">
    <h4 class="text-center">{{service?.name}}</h4>
    <hr class="mt-0">
    <section class="row">
        <div class=" col-sm-4 my-border">
            <img class="card-img-top" *ngIf="service" [src]="getImageUrl()" alt="Card image cap">
        </div>
        <div class="col-sm-8">
            <section>
                <form class="container" data-toggle="validator" #userForm="ngForm" (ngSubmit)="userForm.valid && onSubmit(userForm)">
                    <article class="row">
                        <div class="col-md-9">
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Planned Delivery Date </label>
                                    <input type="date" name="deliveryDate" [(ngModel)]="item.plannedStartDate" #deliveryDate="ngModel" class="form-control" required>
                                    <div *ngIf="userForm.submitted && deliveryDate.invalid" class="text-danger">
                                        <div *ngIf="deliveryDate.errors.required">Delivery Date Is Required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Upload Your Design File</label>
                                    <input type="file" name="file" class="form-control" required (change)="handleFileInput($event.target.files)">
                                    <!-- <div *ngIf="userForm.submitted && file.invalid" class="text-danger">
                                        <div *ngIf="file.errors.required">File Is Required</div>
                                    </div> -->

                                </div>
                            </section>
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Color</label>
                                    <select name="color" class="form-control" [(ngModel)]="item.color" #color="ngModel" required>
                                        <option value="red">Red</option>
                                        <option value="green">Green</option>
                                        <option value="yellow">yellow</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && color.invalid" class="text-danger">
                                        <div *ngIf="color.errors.required">Color Is Required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Material</label>
                                    <select name="material" class="form-control" [(ngModel)]="item.material" #material="ngModel" required>
                                        <option value="Material-1">Material-1</option>
                                        <option value="Material-2">Material-2</option>
                                        <option value="Material-3">Material-3</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && material.invalid" class="text-danger">
                                        <div *ngIf="material.errors.required">Material Is Required</div>
                                    </div>
                                </div>
                            </section>
                            <section class="form-row">
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Type Of Project </label>
                                    <select name="typeProject" class="form-control" [(ngModel)]="item.projectType" #typeProject="ngModel" required>
                                        <option value="curricular">University -Curricular Project</option>
                                        <option value="extraCurricular">University - ExtraCurricular Project
                                        </option>
                                        <option value="personal">Personal</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && typeProject.invalid" class="text-danger">
                                        <div *ngIf="typeProject.errors.required">Type Of Project Is Required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 mb-2">
                                    <label>Units Used In File </label>
                                    <select name="unit" class="form-control" [(ngModel)]="item.unit" #unit="ngModel" required>
                                        <option value="cm">CM</option>
                                        <option value="mm">MM</option>
                                        <option value="inches">Inches</option>
                                    </select>
                                    <div *ngIf="userForm.submitted && unit.invalid" class="text-danger">
                                        <div *ngIf="unit.errors.required">Unit Of Project Is Required</div>
                                    </div>
                                </div>

                            </section>
                        </div>
                        <div class="col-md-3 my-border-left">
                            <input type="submit" [disabled]="loading" class="btn btn-primary btn-block" value="Add To Cart">
                        </div>
                    </article>
                </form>
            </section>
        </div>
    </section>
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <hr class="mb-0">
    <div class="card-body" *ngIf="service">
        <h5 class="card-title">Service Description</h5>
        <p class="card-text">
            {{service?.description}}
        </p>
        <div><img [src]="getImageUrl()" alt="" width="100%"></div>
    </div>
</article>
