<article class=" container card">
  <h4 class="text-center">{{service?.name}}</h4>
  <hr class="mt-0">
  <section class="row">
    <div class=" col-sm-4 my-border">
      <img class="card-img-top" *ngIf="service" [src]="getImageUrl()" alt="Card image cap">
    </div>
    <div class="col-sm-8">
      <section>
        <form class="container" data-toggle="validator" [formGroup]="cartForm" (ngSubmit)="onSubmit()">
          <article class="row">
            <div class="col-md-9">
              <section class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  <label>Planned Delivery Date </label>
                  <input type="date" class="form-control" formControlName="plannedStartDate" plannedStartDate>
                  <div *ngIf="cartForm.controls.plannedStartDate.touched && !cartForm.controls.plannedStartDate.valid"class="text-danger">
                    <div *ngIf="cartForm.controls.plannedStartDate.errors.required">DeliveryDate is required</div>
                  </div>
                </div>
                <div class="form-group col-sm-6 mb-2">
                  <label>Upload Your Design File</label>
                  <input type="file" class="form-control" formControlName ="file"
                    (change)="handleFileInput($event.target.files)" file>
                    <div *ngIf="cartForm.controls.file.touched && !cartForm.controls.file.valid" class="text-danger">
                      <div *ngIf="cartForm.controls.file.errors.required">file is required</div>
                    </div>

                </div>
              </section>
              <section class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  <label>Color</label>
                  <select class="form-control" class="form-control" formControlName ="color" color>
                    <option value="red">Red</option>
                    <option value="green">Green</option>
                    <option value="yellow">yellow</option>
                  </select>
                  <div *ngIf="cartForm.controls.color.touched && !cartForm.controls.color.valid"class="text-danger">
                    <div *ngIf="cartForm.controls.color.errors.required || cartForm.controls.submit">color is required</div>
                  </div>
                </div>
                <div class="form-group col-sm-6 mb-2">
                  <label>Material</label>
                  <select class="form-control" formControlName ="material" material>
                    <option value="Material-1">Material-1</option>
                    <option value="Material-2">Material-2</option>
                    <option value="Material-3">Material-3</option>
                  </select>
                  <div *ngIf="cartForm.controls.material.touched && !cartForm.controls.material.valid"class="text-danger">
                    <div *ngIf="cartForm.controls.material.errors.required">material is required</div>
                  </div>
                </div>
              </section>
              <section class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  <label>Type Of Project </label>
                  <select class="form-control"formControlName ="projectType" projectType>
                    <option value="curricular">University -Curricular Project</option>
                    <option value="extraCurricular">University - ExtraCurricular Project
                    </option>
                    <option value="personal">Personal</option>
                  </select>
                  <div *ngIf="cartForm.controls.projectType.touched && !cartForm.controls.projectType.valid"class="text-danger">
                    <div *ngIf="cartForm.controls.projectType.errors.required">projectType is required</div>
                  </div>
                </div>
                <div class="form-group col-sm-6 mb-2">
                  <label>Units Used In File </label>
                  <select class="form-control"  formControlName ="unit" unit>
                    <option value="cm">CM</option>
                    <option value="mm">MM</option>
                    <option value="inches">Inches</option>
                  </select>
                  <div *ngIf="cartForm.controls.unit.touched && !cartForm.controls.unit.valid"class="text-danger">
                    <div *ngIf="cartForm.controls.unit.errors.required">Unit is required</div>
                  </div>
                </div>
              </section>

              <section class="form-row">
                <div class="form-group col-sm-12 mb-2">
                  <label>Notes </label>
                  <textarea class="form-control" maxlength="251" formControlName ="notes" notes maxlength></textarea>
                  <div *ngIf="cartForm.controls.notes.touched && !cartForm.controls.notes.valid"class="text-danger">
                    <div *ngIf="cartForm.controls.notes.errors.required">Notes is required</div>
                    <div *ngIf="cartForm.controls.notes.errors.maxlength">Notes Max Length is 250</div>
                  </div>
                </div>
              </section>

            </div>
            <div class="col-md-3 my-border-left">
              <input type="submit" [disabled]="loading"  class="btn btn-primary btn-block" value="Add To Cart">
            </div>
          </article>
        </form>
      </section>
    </div>
  </section>
  <!--////////////////////////////////////////////////////////////////////////////////////-->
  <hr class="mb-0">
  <div class="card-body" *ngIf="service">
    <h5 class="card-title">Service Description</h5>
    <p class="card-text">
      {{service?.description}}
    </p>
    <div><img [src]="getImageUrl()" alt="" width="100%"></div>
  </div>
</article>
