<div class="container">
<div [@routerTransition]>
  <app-page-header [heading]="'Programs'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>
  <form>
    <div class="form-group form-inline row">
      <div class="col-md-6">
        <input class="form-control " type="text" placeholder="{{'Search'|translate}}" name="searchTerm"
          [(ngModel)]="searchTerm" />
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
      </div>
<a routerLink="service-form">add service</a>;
      <!-- <div class="col-md-6">
        <ng-multiselect-dropdown placeholder="{{'order.status'|translate}}" [settings]="dropdownSettings"
          [data]="dropdownList" [settings]="dropdownSettings" [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
          [ngModelOptions]="{standalone: true}">
        </ng-multiselect-dropdown>
      </div> -->
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">{{'service.id'|translate}}</th>
          <th scope="col">{{'service.name'|translate}}</th>
          <th scope="col">{{'service.description'|translate}}
          <!-- <th scope="col" sortable="status" (sort)="onSort($event)">{{'order.status'|translate}}
          </th> -->
          <!-- <th scope="col" sortable="created" (sort)="onSort($event)">{{'order.Created'|translate}}
          </th> -->

          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entities$ | async; let i=index">
          <!-- <th scope="row">{{ i+1 }}</th> -->
          <td>
            <span   >{{entity.id.slice(-7)}}</span>
          </td>

          <td>
            <ngb-highlight [result]="entity.name" [term]="searchTerm">
            </ngb-highlight>
          </td>
          <td>
            <span  >{{entity.description}}</span>

          </td>


          <td>

            <a [routerLink]="entity.id"><i class="fa fa-fw fa-edit"></i></a>&nbsp;
            <!-- <a (click)="delete(entity)" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i></a> -->
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
    </div>

  </form>
  <!-- <button mat-fab class="mat-fab-top-right fixed mat-accent mat-fab button-left" routerLink="create">
    <mat-icon>{{'add'|translate}}</mat-icon>
  </button> -->
</div>
</div>