:host {
    padding: 20px;
}

input,
mat-form-field,
mat-select {
    width: 100%;
}

mat-card-actions {
    margin-top: 20px;
    display: block;
}
.img-profile{
  width: 40px;
  height: 40px;

}
label{
  font-size: 13px;
  color: #333333DE;
}
.custom-bg{
  background-color: #63C6C9 !important;
}
