<h3 class="text-center mt-5">Machine-1</h3>
<table class="table container ">
  <thead class="bg-primary">
    <tr>
      <th scope="col">Digital Material</th>
      <th scope="col">Unit</th>
      <th scope="col">Color</th>
      <th scope="col">Deliver Date</th>
      <th scope="col">Material</th>
      <th scope="col">Quantity</th>
      <th scope="col">action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>File</td>
      <td>Mm</td>
      <td>Green</td>
      <td>Jan 16, 2020</td>
      <td>Material-2</td>
      <td>5</td>
      <td><a href="#" class="text-info">Finish</a> / <a href="#" class="text-danger">Reject</a> </td>

    </tr>
    <tr>
      <td>File</td>
      <td>Mm</td>
      <td>red</td>
      <td>Jan 16, 2020</td>
      <td>Material-1</td>
      <td>5</td>
      <td><a href="#" class="text-info" disabled>Finish</a>/ <a href="#" class="text-danger">Reject</a> </td>
    </tr>
    <tr>
      <td>File</td>
      <td>Inche</td>
      <td>yellow</td>
      <td>Jan 16, 2020</td>
      <td>Material-3</td>
      <td>5</td>
      <td><a href="#" class="text-info">Finish</a> / <a href="#" class="text-danger">Reject</a> </td>
    </tr>
  </tbody>
</table>
