

<div class="container">
<app-carousel></app-carousel>
<div  class="row">
  <app-card *ngFor="let card of cards" [cardData]="card" class="col-sm-4">
  </app-card>
</div>


</div>

<form #cardForm="ngForm"(ngSubmit) = "addservices(cardForm.value)">
  <input type="text" name="name" class="form-control" [(ngModel)]="card.name" #name="ngModel">
  <input type="text" name="description" class="form-control" [(ngModel)]="card.description" #description="ngModel">
  <input type="submit" value="save">
 </form>

<!--//////////////////////////////////////////-->

