<main class="page">
    <section class="tracking-orders ">

      <div class="container">

        <!-- Page Head -->
        <div class="block-heading text-center">
          <h2>My Orders</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
            vitae leo.</p>
        </div>
        <!-- End Page Head -->

        <div class="card mb-3">
          <div class="card-header">
            <div class="row text-center">
              <div class="col-md-3 col-sm-12">
                <span>Order ID : </span>
                <span> 34354546</span>
              </div>
              <div class="col-md-3 col-sm-12">
                Order Date : <span> 23/04/2020</span>
              </div>
              <div class="col-md-3 col-sm-12">
                Total Payment : <span> 250$ </span>
              </div>
              <div class="col-md-3 col-sm-12">
                Order Status : <span class="btn btn-warning">In Progress</span>
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Order Details</h5>

            <section class="shopping-cart dark">
              <div class="container">
                <!-- page Head -->
                <!-- End page Head -->

                <!-- Page Content -->
                <div class="content">
                  <div class="row">

                    <!-- Cart Items Table -->
                    <div class="col-md-12 col-lg-12">
                      <div class="items">

                        <!-- One Item Row -->
                        <div class="product">
                          <div class="row">
                            <div class="col-md-3">
                              <img class="img-fluid mx-auto d-block image" src="assets/img1.jpg">
                            </div>
                            <div class="col-md-8">
                              <div class="info">
                                <div class="row">
                                  <div class="col-md-8 product-name">
                                    <h5 class="text-center">Service Details</h5>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <div>Deliver Date: <span class="value">5 inch</span></div>
                                        <div>Color: <span class="value">4GB</span></div>
                                        <div>Type of project: <span class="value">32GB</span></div>
                                        <div>Quantity: <span class="value">32GB</span></div>
                                      </div>
                                      <div class="col-md-6">
                                        <div>Uploaded File: <a href="#">File</a></div>
                                        <div>Units used in file: <span class="value">4GB</span></div>
                                        <div>Price: <span class="value">32GB</span></div>
                                        <!-- <div>Memory: <span class="value">32GB</span></div> -->
                                      </div>

                                    </div>
                                  </div>

                                  <div class="col-md-3 price">
                                    <div class="btn btn-warning">In Progress</div>
                                  </div>
                                  <div class="col-md-1 price">
                                    <!-- <span>$120</span> -->
                                    <button type="button" class="btn btn-outline-danger btn-xs">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End One Item Row -->

                      </div>
                    </div>

                    <!-- End One Item Row -->

                  </div>
                </div>
                <!-- End Page Content -->

              </div>
              <div class="mt-2 text-center">
                <button class="btn btn-danger">
                  Cancel Order
                </button>
              </div>
            </section>

          </div>

        </div>

        <div class="card mb-3">
          <div class="card-header">
            <div class="row text-center">
              <div class="col-md-3 col-sm-12">
                <span>Order ID : </span>
                <span> 34354546</span>
              </div>
              <div class="col-md-3 col-sm-12">
                Order Date : <span> 23/04/2020</span>
              </div>
              <div class="col-md-3 col-sm-12">
                Total Payment : <span> 250$ </span>
              </div>
              <div class="col-md-3 col-sm-12">
                Order Status : <span class="btn btn-success">Delivered</span>
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Order Details</h5>

            <section class="shopping-cart dark">
              <div class="container">
                <!-- page Head -->
                <!-- End page Head -->

                <!-- Page Content -->
                <div class="content">
                  <div class="row">

                    <!-- Cart Items Table -->
                    <div class="col-md-12 col-lg-12">
                      <div class="items">

                        <!-- One Item Row -->
                        <div class="product">
                          <div class="row">
                            <div class="col-md-3">
                              <img class="img-fluid mx-auto d-block image" src="assets/image.jpg">
                            </div>
                            <div class="col-md-8">
                              <div class="info">
                                <div class="row">
                                  <div class="col-md-8 product-name">
                                    <h5 class="text-center">Service Details</h5>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <div>Deliver Date: <span class="value">5 inch</span></div>
                                        <div>Color: <span class="value">4 inch</span></div>
                                        <div>Type of project: <span class="value">32GB</span></div>
                                        <div>Quantity: <span class="value">32GB</span></div>
                                      </div>
                                      <div class="col-md-6">
                                        <div>Uploaded File: <a href="#">File</a></div>
                                        <div>Units used in file: <span class="value">4GB</span></div>
                                        <div>Price: <span class="value">32GB</span></div>
                                        <!-- <div>Memory: <span class="value">32GB</span></div> -->
                                      </div>

                                    </div>
                                  </div>

                                  <div class="col-md-3 price">
                                    <div class="btn btn-success">Done</div>
                                  </div>
                                  <div class="col-md-1 price">
                                    <!-- <span>$120</span> -->
                                    <button type="button" class="btn btn-outline-danger btn-xs">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End One Item Row -->

                      </div>
                    </div>

                    <!-- End One Item Row -->

                  </div>
                </div>
                <!-- End Page Content -->

              </div>
              <!-- <div class="mt-2 text-center">
                <button class="btn btn-danger">
                  Cancel Order
                </button>
              </div> -->
            </section>


          </div>

        </div>

      </div>
    </section>

  </main>