<div class="login-page" [@routerTransition]>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div [routerLink]="'/'" class="cursor-pointer">
                <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                <h6>
                    <strong>{{'Please enter your email address below and we will send you information to change your password.'|translate}}</strong>
                </h6>
            </div>
            <form role=" form " [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-content ">

                    <div class="form-group ">
                        <input type="email " class="form-control input-underline input-lg " placeholder="{{ 'Email' | translate }} " formControlName="Email">
                        <div *ngIf="forgetPasswordForm.controls.Email.touched && !forgetPasswordForm.controls.Email.valid" class="text-danger">
                            <div *ngIf="forgetPasswordForm.controls.Email.errors.required">{{'Email is required'|translate}}</div>
                            <div *ngIf="forgetPasswordForm.controls.Email.errors.email">{{'Must Be A Valid Email Address'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn " type="submit">{{ 'Reset' | translate }}</button> &nbsp;
                <button class="btn rounded-btn " [routerLink]="[ '/signup'] ">{{ 'Register' | translate }}</button>
            </form>
        </div>
    </div>
</div>