<div class="login-page" [@routerTransition]>

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div [routerLink]="'/'" class="cursor-pointer text-center">
        <img src="assets/images/logo.png" width="150px" class="user-avatar" />
        <h6 class="text-center">
          <strong>{{'forgetPassword'|translate}}</strong>
        </h6>
      </div>
      <form role=" form " [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-content ">

          <div class="form-group ">
            <input type="email " class="form-control input-underline input-lg " placeholder="{{ 'email' | translate }} "
              formControlName="Email">
            <div *ngIf="forgetPasswordForm.controls.Email.touched && !forgetPasswordForm.controls.Email.valid"
              class="text-danger">
              <div *ngIf="forgetPasswordForm.controls.Email.errors.required">{{'email.error.required'|translate}}</div>
              <div *ngIf="forgetPasswordForm.controls.Email.errors.email">{{'email.error.invalid'|translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn rounded-btn " type="submit">{{ 'reset' | translate }}</button> &nbsp;
          <button class="btn text-primary " [routerLink]="[ '/signup'] ">{{ 'register' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
