<div class="position-relative mb-3 f-weight-600 site-color-v5">
  <ng-container *ngIf="!showStatusBreadcrumb()">
      <div class="overlay position-absolute d-flex" >
        <span class="cancelled">{{order.status | translate}}</span>
      </div>
  </ng-container>
  <div class="custom-card-header p-3">

          <div class="row  ">
            <div class="col-md-4 my-auto">
              <div>
                <label>{{'order.id'|translate}} :&nbsp;</label>
                <span class="f-weight-400">{{order.id.slice(-7)}}</span>
              </div>
              <div>
                <span class="f-weight-400 text-primary cursor-pointer"
                (click)="openModal(showOrderShippingAddress)">
                  {{'viewShippingAddress'|translate}}
                </span>
              </div>
              <div *ngIf="showPriceAndEndDate()">
                <label> {{'order.totalPrice'|translate}} :&nbsp;</label>
                <span class="f-weight-400">{{subTotal| currency:'EGP'}}</span>
              </div>
              <div *ngIf="order.status == 'QUOTED' || order.status == 'QUOTE_EXPIRED'">
                <label>{{'quotedOn'|translate}} :&nbsp;</label>
                <span class="f-weight-400">{{order.quotedAt|date:'fullDate'}}</span>
              </div>
            </div>
            <div class="col-md-4 my-auto">
              <div >
                <label>{{'orderedAt'|translate}} :&nbsp;</label>
                <span class="f-weight-400">{{order.created | date:'fullDate'}}</span>
              </div>
              <div *ngIf="showPriceAndEndDate()">
                <ng-container *ngIf="order.status == 'QUOTED';else endDate">
                  <label >{{'manufacturingDuration'|translate}} :&nbsp;</label>
                  <span class="f-weight-400">{{maxDuration}} {{'workingDays'|translate}}</span>
                </ng-container>
                <ng-template #endDate>
                    <label>{{'estimatedEndDate'|translate}} :&nbsp;</label>
                    <span class="f-weight-400">{{orderEndDate|date:'fullDate'}}</span>
                </ng-template>
              </div>
              <div *ngIf="order.status == 'QUOTED' || order.status == 'QUOTE_EXPIRED'">
                <label>{{'expiredOn'|translate}} :&nbsp;</label>
                <span class="f-weight-400">{{order.expiredAt|date:'fullDate'}}</span>
              </div>
            </div>

            <div class="col-md-4  my-auto" *ngIf="showOrderInteractBtns()">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 ml-auto mt-1" *ngIf="order.status == 'QUOTED'">
                    <button class="custom-btn w-100  btn-primary "
                    (click)="approveQuotation()">{{'approve' | translate}} </button>
                  </div>
                  <div class="col-md-6 ml-auto mt-1" *ngIf="order.status == 'QUOTED'">
                    <button class="custom-btn w-100 v5  "
                    (click)="rejectQuotation()">{{'reject' | translate}}</button>
                  </div>
                  <div class="col-md-6 ml-auto mt-1" *ngIf="order.status == 'QUOTED' || order.status == 'QUOTE_ACCEPTED'">
                    <button
                    [styleSheetFile]="lang==='en'?'assets/printCss/printQuotation.css':'assets/printCss/printQuotation.css,assets/printCss/printQuotationRtl.css'"
                    printSectionId="{{order.id}}" ngxPrint type="button"
                    class="custom-btn btn-secondary w-100  ">{{'printQuotation'|translate}}</button>
                  </div>
                  <div class="col-md-6 ml-auto mt-1" *ngIf="showCancelOrderBtn() ">
                    <input type="submit" class="custom-btn w-100  btn-danger   text-center"
                    value="{{'Cancel Order'|translate}}" (click)="openModal(cancelOrderAlert)">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 text-center my-auto" *ngIf="order.status == 'ORDER_REJECTED' ">
              <button type="button" (click)="openModal(orderRejectReasons)"
                class="btn  btn-danger btn-block btn-sm m-1">{{'viewReasons'|translate}}</button>
            </div>
            <div class="col-md-12 px-md-5  my-auto" *ngIf="showStatusBreadcrumb()">
              <app-steps [stepsArr]="statusArr" activeStep="{{order.status}}"></app-steps>
            </div>

          </div>

    </div>
    <div class="custom-card p-3">
      <!-- <h5 class="card-title text-center">Order Details</h5> -->

      <!-- The Section tag hold all order body even the cancel button -->
      <section class="shopping-cart dark">

        <!-- container tag hold all order elements or all line items -->
        <div>
          <!-- page Head -->
          <!-- End page Head -->

          <!-- Page Content -->
          <div class="content">
            <app-line-item *ngFor="let lineItem of order.lineItems" [lineItem]="lineItem" orderStatus='{{order.status}}'
              (itemChanged)="getOrder($event)">
            </app-line-item>
          </div>
          <!-- End Page Content -->

        </div>



      </section>

    </div>

</div>


<!-- <ng-template> d-none -->
<div id="{{order.id}}" class="d-none m-4 print-quote white-background" >
  <div class="container-fluid">
    <div class="row ">
      <div class="col-4 logo-img my-auto">
        <img src="assets/images/logo-v1.png" class="height-fluid" alt="">
      </div>

      <div class="my-auto f-size-30 f-weight-700 col-4 text-center">
        {{'quotation'|translate}}
      </div>

      <div class="f-size-14 my-auto f-weight-400 text-grey-v2 col-4">
        <div class="text-right">
          {{'fabrihubLtd'|translate}}
        </div>
        <div class="text-right">
          {{'fabrihubStreet'|translate}}
        </div>
        <div class="text-right">
          {{'fabrihubBox'|translate}}
        </div>
        <div class="text-right">
          {{'fabrihubCity'|translate}}
        </div>
        <div class="text-right">
          {{'fabrihubPhone'|translate}}
        </div>
      </div>

      <div class="col-6 f-size-13">
        <div>
          <label class="f-weight-600">{{'quotedTo'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">
            {{user?.defaultOrgType==='PARTNER' ? (user?.defaultOrg?.name):((user?.firstName))}} /
            ({{order.shippingAddress.lineOne}} - {{order.shippingAddress.lineTwo}}
            - {{lang==='en'? (order?.shippingAddress?.city?.state?.enName):(order?.shippingAddress?.city?.state?.arName)}}
            - {{lang==='en'? (order?.shippingAddress?.city?.enName):(order?.shippingAddress?.city?.arName)}}
            - {{order.shippingAddress.contactName}} - {{order.shippingAddress.phoneNo}})
          </span>
        </div>
        <div >
          <label class="f-weight-600">{{'contactEmail'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">
            {{user?.username}}
          </span>
        </div>
        <div *ngIf="user?.defaultOrgType==='PARTNER'">
          <label class="f-weight-600">{{'customerContactName'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">
            {{user?.firstName}}
          </span>
        </div>
        <div>
          <label class="f-weight-600">{{'contactMobile'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">{{user?.defaultOrgType==='PARTNER' ? (user?.defaultOrg?.mobileNo):((user?.mobileNo))}}</span>
        </div>
      </div>
      <div class="col-6 f-size-13">
        <div *ngIf="order.status == 'QUOTED'">
          <label class="f-weight-600">{{'quotedAt'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">{{order.quotedAt|date:'dd/MM/yyyy'}}</span>
        </div>
        <div *ngIf="order.status == 'QUOTED'">
          <label class="f-weight-600">{{'expiredAt'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">{{order.expiredAt|date:'dd/MM/yyyy'}}</span>
        </div>
        <div >
          <label class="f-weight-600">{{'leadTime'|translate}} :&nbsp;</label>
          <span *ngIf="order.status==='QUOTED';else endDatePrintQuotation" class="text-grey-v2">
            {{maxDuration}} {{'workingDays'|translate}}
          </span>
          <ng-template #endDatePrintQuotation>
            <span class="f-weight-400">{{orderEndDate|date:'dd/MM/yyyy'}}</span>
          </ng-template>
        </div>
        <div>
          <label class="f-weight-600">{{'terms'|translate}} :&nbsp;</label>
          <span class="text-grey-v2">{{'dueOnQuote'|translate}}</span>
        </div>
      </div>
      <div class="col-md-12">
        <table class="f-size-13 table quotation mt-2">
          <thead>
            <tr class="f-weight-700 print-table-head">
              <th scope="col">#</th>
              <th scope="col">{{'lineItem.service.name' | translate}}</th>
              <th scope="col">{{'lineItem.service.description'|translate}}</th>
              <th scope="col">{{'lineItem.duration'|translate}}</th>
              <th scope="col">{{'lineItem.unitPrice'|translate}}</th>
              <th scope="col">{{'lineItem.quantity'|translate}}</th>
              <th scope="col">{{'sum'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineItem of order.lineItems;let i = index">

              <ng-container *ngIf="lineItem.status =='QUOTED' || lineItem.status =='QUOTE_ACCEPTED'">
                <td scope="row">{{i+1}}</td>
                <td>{{lineItem.service.name}}</td>
                <td>
                  <span>
                    <label>{{'height'|translate}} : </label> {{lineItem.files[0].height}},
                  </span>
                  <span>
                    <label>{{'width'|translate}} : </label> {{lineItem.files[0].width}},
                  </span>
                  <span *ngIf="lineItem.files[0].material">
                    <label>{{'material'|translate}} : </label> {{lineItem.files[0].material}},
                  </span>
                  <span *ngIf="lineItem.files[0].thickness">
                    <label>{{'thickness'|translate}} : </label> {{lineItem.files[0].thickness}},
                  </span>
                  <span *ngIf="lineItem.files[0].color">
                    <label>{{'color'|translate}} : </label> {{lineItem.files[0].color}},
                  </span>
                  <span *ngIf="lineItem.files[0].type">
                    <label>{{'type'|translate}} : </label> {{lineItem.files[0].type}},
                  </span>
                  <span *ngIf="lineItem.files[0].unit">
                    <label>{{'unit'|translate}} : </label> {{lineItem.files[0].unit}},
                  </span>
                  <span *ngIf="lineItem.files[0].processes">
                    <label>{{'processes'|translate}} : </label> {{lineItem.files[0].processes}},
                  </span>
                </td>
                <td>{{lineItem.duration}} {{'workingDays'|translate}}</td>
                <td>{{lineItem.unitPrice}}</td>
                <td>{{lineItem.quantity}}</td>
                <td>{{lineItem.unitPrice *lineItem.quantity|currency:'EGP'}}</td>
              </ng-container>
            </tr>
            <tr class="white-background">
              <td ></td>
              <td ></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="custom-td custom-back f-weight-600 f-size-14"><label >{{'subTotal'|translate}}</label></td>
              <td class="custom-td"><span>{{subTotal | currency:'EGP'}}</span></td>
            </tr>
            <tr class="white-background">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="custom-td custom-back f-weight-600 f-size-14"><label >{{'taxRate'|translate}}</label></td>
              <td class="custom-td"><span>{{0 | currency:'EGP'}}</span></td>
            </tr>
            <tr class="white-background">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="custom-td custom-back f-weight-600 f-size-14"><label >{{'salesTax'|translate}}</label></td>
              <td class="custom-td"><span>{{0 | currency:'EGP'}}</span></td>
            </tr>
            <tr class="white-background">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="custom-td custom-back f-weight-600 f-size-14"><label >{{'others'|translate}}</label></td>
              <td class="custom-td"><span>{{0 | currency:'EGP'}}</span></td>
            </tr>
            <tr class="white-background">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="custom-td custom-back f-weight-600 f-size-14"><label >{{'total'|translate}}</label></td>
              <td class="custom-td"><span>{{subTotal | currency:'EGP'}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="offset-md-9 col-md-3 f-weight-700 text-black my-4">
        <div>
          <label>{{'signature'|translate}} : </label>
        </div>
        <div>
          <label>{{'date'|translate}} : </label>
        </div>
      </div>
      <div class="col-md-12 quotation-note text-grey p-3">
        <p >
          <span class="text-grey-v2 f-weight-600">
            {{'quotationNoteDescription1'|translate}}
          </span>
          {{'quotationNoteDescription2'|translate}}
        </p>
        <p class="mt-4">
          {{'quotationNoteDescription3'|translate}}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- </ng-template> -->


<ng-template #orderRejectReasons>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">
      {{'rejectionReasons'|translate}}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rejection-reason my-3" *ngFor="let r of order.rejectionReasons;let i = index">
      <span class="number mr-2 px-3 py-1">
        {{i+1}}
      </span>
      <span class="p-2">
        {{r.name}}
      </span>
    </div>

    <div *ngIf="order.rejectionNote != null">
      <label>{{'notes'|translate}}</label>
      <div>
        {{order.rejectionNote}}
      </div>
    </div>
  </div>
  <div class="modal-footer ">
    <div class="m-auto">
      <button type="button" class="btn btn-sm btn-secondary" (click)="modalRef.hide()">{{'close'|translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #cancelOrderAlert>
    <div class="modal-body ">
      <div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center mt-2 text-danger">
        <i class="fas fa-times fa-5x"></i>
      </div>
      <div class="text-center mt-2 site-color-v3 f-weight-600 f-size-20">
        {{'areYouSure'|translate}}
      </div>
      <div class="text-center f-size-14 text-grey mt-2">
        {{'deleteDescription'|translate}}
      </div>
      <div class="text-center my-2 f-weight-600">
        <button class="custom-btn v4 mr-3" (click)="modalRef.hide()">{{'no'|translate}}</button>
        <button class="custom-btn btn-danger" (click)="cancelOrder();modalRef.hide()">{{'yes'|translate}}</button>
      </div>
    </div>
</ng-template>


<ng-template #showOrderShippingAddress>
    <div class="modal-body ">
      <div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center mt-2 site-color-v1">
        <i class="fas fa-shipping-fast fa-3x"></i>
      </div>
      <div class="text-center f-size-14 text-grey mt-2">
        {{order.shippingAddress.lineOne}} - {{order.shippingAddress.lineTwo}}
        - {{lang==='en'? (order?.shippingAddress?.city?.state?.enName):(order?.shippingAddress?.city?.state?.arName)}}
        - {{lang==='en'? (order?.shippingAddress?.city?.enName):(order?.shippingAddress?.city?.arName)}}
        - {{order.shippingAddress.contactName}} - {{order.shippingAddress.phoneNo}}
      </div>
      <div class="text-center my-2 f-weight-600">
        <button class="custom-btn v4 mr-3" (click)="modalRef.hide()">{{'cancel'|translate}}</button>
      </div>
    </div>
</ng-template>
