<div [@routerTransition]>
  <div>
    <app-page-header [heading]="'Programs'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>
  </div>

  <main class="page ">
    <section class="tracking-orders ">

      <!-- <div class="container"> -->

      <!-- Page Head -->
      <div class="block-heading ">
        <h2 class="text-primary text-center">{{'My Orders'|translate}}</h2>
        <p *ngIf="!singleOrder" class="text-center">{{'You can track and manage all of your orders'|translate}} </p>
      </div>
      <div *tdLoading="'loading' strategy:'overlay'">
        <div class="row mb-3">
          <!-- <div class="col-md-4">
                  <ng-multiselect-dropdown
                  [placeholder]="'Filter By Status' | translate"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>
                </div> -->
          <div class="col-md-4" *ngIf="!singleOrder">
            <select class="form-control" (change)="sortByDate(sortUpdated.value)" #sortUpdated>
              <option value="newest">{{'sortByNewest' | translate}}</option>
              <option value="oldest">{{'sortByOldest' | translate}}</option>
            </select>
          </div>
        </div>
        <!-- End Page Head -->

        <!-- Old Static Data was here -->

        <!-- <div class="card mb-3" *ngFor='let order of orders'>
          <app-order-card ></app-order-card>
        </div> -->

        <!-- <div class="d-flex justify-content-center" *ngIf="spinner">
              <mat-spinner></mat-spinner>
            </div> -->


        <app-order-card *ngFor="let entity of entities$ | async" [order]="entity"></app-order-card>
        <div class="d-flex justify-content-between p-2" *ngIf="!singleOrder">
          <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="25">25 items per page</option>
            <option [ngValue]="50">50 items per page</option>
          </select>
        </div>
      </div>

      <!-- </div> -->
    </section>

  </main>
</div>
