<div *tdLoading="'loading'" [@routerTransition]>
  <div class="p-4">
    <app-page-header [breadCrumbs]="breadcrumbs">
    </app-page-header>

    <mat-tab-group>
      <mat-tab label="{{'accountInfo' |translate}}">
        <div *ngIf="user">
          <app-user-info [user]="user"></app-user-info>

        </div>
      </mat-tab>
      <mat-tab *ngIf="user?.defaultOrg?.type == 'PARTNER'" label="{{'orgInfo' |translate}}">
        <div *ngIf="user">
          <app-organization-info [org]='user.defaultOrg'>
          </app-organization-info>
        </div>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>
