<div class="p-4" [@routerTransition]>

  <div class="form-group form-inline row">
    <div class="col-md-6">
      <span class="site-color-v5 f-size-20 f-weight-600">
        {{'current'|translate}}
      </span>
      <input class="search-input form-control ml-2" [class.rtl]="lang==='ar'" type="text"
        placeholder="{{'Search'|translate}}" name="searchTerm" [(ngModel)]="searchTerm" />
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
  </div>

  <div *tdLoading="'loading'">

    <section class="custom-card" *ngFor="let lineItem of entities$ |async  ;index as i ">

      <div class="border-bottom mb-2">
        <div class="form-group p-2 row">


          <div class="col-md-4  f-size-20 font-weight-bold"><span>{{lineItem.service.name}} -
              {{'id'|translate }} {{lineItem.id.slice(-7)}}</span></div>

          <div class="col-md-2">{{'quantity' |translate}} : {{lineItem.quantity}}</div>
          <div class="col-md-5"> {{"requestDate" | translate}} <span>{{lineItem.created | date:'medium'}}</span>
          </div>
          <div class="col-md-1 d-flex justify-content-end cursor-pointer"><i class="fa fa-angle-down f-size-24 px-3"
              [ngClass]="{'fa-angle-down': !isCollapsed[i], 'fa-angle-up': isCollapsed[i]}"
              (click)="isCollapsed[i] = !isCollapsed[i]"></i></div>

        </div>

      </div>

      <div class="row ml-2 mb-3" [ngbCollapse]="!isCollapsed[i]">
        <div class="col-md-3">
          <div class="service-image mb-2">
            <img class="img-fluid" [src]="appConfig.FILE_URL + lineItem.files[0].asset_id"
              *ngIf="getFileExtension(lineItem) == 'image';else stlExtension">
            <ng-template #stlExtension>
              <div *ngIf="getFileExtension(lineItem) == 'stl';else serviceImage">
                <img class="img-fluid " [src]="appConfig.serviceImage(lineItem.service)">
                <app-stl-modal [stlPath]="appConfig.FILE_URL + lineItem.files[0].asset_id"></app-stl-modal>
              </div>

            </ng-template>
            <ng-template #serviceImage>
              <img class="img-fluid " [src]="appConfig.serviceImage(lineItem.service)">
            </ng-template>
          </div>
          <div class="text-center mb-2"><a [href]="getFileUrl(lineItem)">
              {{'download' | translate}}
            </a></div>

        </div>
        <div class="col-md-9">
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-5">
                <div class="form-group">
                  <label for="ManufacturingDuration"
                    class="brand font-weight-bold">{{"manufacturingDuration"|translate}}</label>
                  <input type="number" placeholder="enterManufacturingDuration"
                    class="form-control f-size-14 text-grey f-weight-500" id="ManufacturingDuration"
                    [(ngModel)]="lineItem.duration" #duration='ngModel' [ngModelOptions]="{standalone: true}" required>
                  <div *ngIf="duration.hasError('required') && checkInput ||lineItem.duration === 0"
                    class="text-danger">
                    {{'manufacturingDuration.error'|translate}}
                  </div>

                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="UnitPrice" class="brand font-weight-bold">{{"unitPrice"|translate}}</label>
                  <input type="number" placeholder="enterUnitPrice"
                    class="form-control f-size-14 text-grey f-weight-500" min="1" id="UnitPrice"
                    [(ngModel)]="lineItem.unitPrice" #unitPrice='ngModel' [ngModelOptions]="{standalone: true}"
                    required>

                  <div *ngIf="unitPrice.hasError('required')  && checkInput" class="text-danger">
                    {{'unitPrice.error'|translate}}
                  </div>


                </div>
              </div>
              <div class="col-md-2">
                <label class="brand font-weight-bold"></label>
                <div>
                  <button type="button" data-toggle="modal" data-target="#exampleModal"
                    class="custom-btn v1 f-size-16 font-weight-bold"
                    (click)="quoteItem(lineItem,confirmQuote)">{{'quote'|translate}}</button>
                </div>


              </div>

              <div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row" *ngFor="let file of lineItem?.files">
              <div class="col-md-6" *ngIf="file.height">
                <label>{{'file.height' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.height}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.width">
                <label>{{'file.width' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.width}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.material">
                <label>{{'file.material' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.material}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.type">
                <label>{{'file.type' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.type}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.thickness">
                <label>{{'file.thickness' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.thickness}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.processes">
                <label>{{'file.processes' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.processes}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.color">
                <label>{{'file.color' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.color}}</span>
              </div>
              <div class="col-md-6" *ngIf="file.unit">
                <label>{{'file.unit' | translate }} :&nbsp;</label>
                <span class="text-grey-v2" #heightErr>{{file.unit}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//////////////////////////////////////////////////////////MODAL//////////////////////////////////////////////////-->
      <ng-template #confirmQuote>
        <div class="modal-body ">
          <div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="text-center mt-2 site-color-v1">
            <i class="fa fa-question-circle f-size-30"></i>
          </div>
          <div class="text-center f-size-14 text-grey mt-2">
            <div class="text-center">{{'confirmQuote'|translate}}</div>
            <div class="text-center">{{lineItem.duration}} {{'days'|translate}} , {{lineItem.unitPrice}}
              {{'egpPerUnite'|translate}}</div>
          </div>
          <div class="text-center my-2 f-weight-600">
            <button class="custom-btn v4 mr-3" (click)="modalRef.hide()">{{'cancel'|translate}}</button>
            <button type="button" class="custom-btn v1 f-size-16 font-weight-bold"
              (click)="confirmQuoteItem(lineItem);modalRef.hide()">{{'quote'|translate}}</button>
          </div>
        </div>
      </ng-template>
      <!--//////////////////////////////////////////////////////////MODAL//////////////////////////////////////////////////-->

    </section>

  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>


  <!-- <button mat-fab class="mat-fab-top-right fixed mat-accent mat-fab button-left" routerLink="create">
    <mat-icon>{{'add'|translate}}</mat-icon>
  </button> -->
</div>
