<div [@routerTransition]>
  <div *noAuth>
    <div class="container-fluid ">
      <div class="white-background">
        <div class="container">
          <div class="row py-5 px-3  landing-page-section">
            <div class="col-md-6 my-auto">
              <h3 class="f-weight-700 f-size-30 site-color-v2">{{'welcomeDescription'|translate}}</h3>
              <p class="text-grey mt-4">
                {{'landingPageText'|translate}}
              </p>
              <div class="mt-4 mb-4 mb-md-0">
                <a [routerLink]='["/signup"]' class="custom-btn v1 mr-3 f-weight-600">{{'getQuotation'|translate}}</a>
              </div>
            </div>
            <div class="col-md-6 my-auto">
              <img src="assets/images/landing-page.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row py-5 m-auto ">
          <div class="col-md-12">
            <h5 class="f-weight-600 f-size-30 site-color-v3 text-center">
              {{'service'|translate}}
            </h5>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-6 ">
            <p class="text-grey text-center ">
              {{'serviceDescription'|translate}}
            </p>
          </div>
          <div class="col-md-12">
            <div class="container-fluid">
              <div class="row">
                <div *ngFor="let service of services;let i=index" class="col-md-3">
                  <div class="mt-3 service text-center py-4 px-2" *ngIf="i<4">
                    <div class="service-img">
                      <img [src]="appConfig.serviceImage(service)" class="height-fluid" alt="">
                    </div>
                    <p class="mb-0 mt-2 f-weight-600 f-size-18">{{service.name}}</p>
                    <a [routerLink]='["/shopping-cart/CartItem"]'
                      class="custom-btn v1 mt-2 f-weight-600">{{'placeOrder'|translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-5 white-background">
        <div class="col-md-12 text-center">
          <i class="fas fa-handshake site-color-v1 fa-4x"></i>
        </div>
        <div class="col-md-12 mt-3">
          <h5 class=" text-center f-weight-600 f-size-18">{{"becomePartner"|translate}}</h5>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-2">
          <p class="text-grey">
            {{"becomePartnerDescription"|translate}}
          </p>
        </div>
        <div class="col-md-12 mt-2 text-center">
          <a [routerLink]='["/signup"]' [queryParams]="{'partner': 'true'}"
            class="custom-btn v1 f-weight-600">{{'applyAsPartner'|translate}}</a>
        </div>

      </div>
    </div>
  </div>
  <div *isAuth>
    <div class="container-fluid">
      <div class="row py-4">
        <div class="col-md-12">
          <div class="welcome-section px-5">
            <div>
              <h6 class="f-size-30 f-weight-600">{{'welcomeTitle'|translate}}</h6>
              <p>{{'welcomeDescription'|translate}}</p>

            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-md-3" *notPartner></div>
        <div class="col-md-6 mt-4" *isPartner>
          <div class="custom-card px-5 py-4 text-center">
            <h6 class="f-size-20 f-weight-600 site-color-v3 text-center">{{'Jobs'|translate}}</h6>
            <p class="text-grey f-size-14 text-center"></p>
            <a class="custom-btn v1 f-weight-600 ">{{'show'|translate}}</a>
          </div>

        </div>
        <div class="col-md-6 mt-4" *isPartner>
          <div class="custom-card px-5 py-4 text-center">
            <h6 class="f-size-20 f-weight-600 site-color-v3 text-center">{{'organizationTeam'|translate}}</h6>
            <p class="text-grey f-size-14 text-center"></p>
            <a routerLink="/organization-team" class="custom-btn v1 f-weight-600 ">{{'show'|translate}}</a>
          </div>

        </div>
        <div class="col-md-6 mt-4" *notPartner>
          <div class="custom-card px-5 py-4 text-center">
            <h6 class="f-size-20 f-weight-600 site-color-v3 text-center">{{'summary'|translate}}</h6>
            <p class="text-grey f-size-14 text-center">{{'summaryDescription'|translate}}</p>
            <a [routerLink]='["/shopping-cart/CartItem"]'
              class="custom-btn v1 f-weight-600 ">{{'placeOrder'|translate}}</a>
          </div>
        </div>
        <div class="col-md-12 mt-3 f-weight-600" *notPartner>
          {{'fabrihubServices'|translate}}
        </div>
        <div class="col-md-12 text-center">
          <div class="container-fluid" *tdLoading="'loading'">
            <div class="row " *notPartner>
              <div *ngFor="let service of services;let i=index" class="col-md-3">
              <div class="custom-card p-4 mt-3" *ngIf="i<4">
              <div class="service-v2">
                <div class="service-img mr-2">
                  <img [src]="appConfig.serviceImage(service)" class="img-fluid" alt="">
                </div>
                <div class="service-content text-left f-weight-600">
                  <p class="mb-0 f-size-18 site-color-v3 ellipsis">{{service.name}}</p>
                  <a [routerLink]='["/shopping-cart/CartItem"]'>
                    <span class="mr-2 site-color-v1">{{'placeOrder'|translate}}</span>
                    <i *ngIf="lang==='en'" class="fas fa-arrow-right site-color-v1"></i>
                    <i *ngIf="lang==='ar'" class="fas fa-arrow-left site-color-v1"></i>
                  </a>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
