@charset "UTF-8";
.upcoming-events {
    padding-top: 25px;
    background-color: #dadde6;
}

h2.main-heading {
    font-weight: bold;
    padding: 0px 15px;
    margin: 50px 0 20px -30px;
    border-left: 12px solid orange;
}

.card {
    background-color: #222;
    color: white;
}


.landing-page-section{
  min-height: calc( 100vh - 56px );
}

.service{
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  background: white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  .service-img{
    height: 90px;
  }
  a{
    display: none;
  }
}

.service:hover{
  box-shadow:0px 6px 10px #0000001A;
  a{
    display: block;
  }
}

.welcome-section{
  height: 200px;
  background-image: url(../../../assets/images/welcome-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: white;
}

.service-v2{
  display: flex;
  align-items: center;
  .service-img{
    flex: 1;
  }
  .service-content{
    flex: 2;
  }
  a{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

}
