<!-- <div class="col-md-4"> -->
<div class="card mb-4 box-shadow">
    <img class="card-img-top img-fluid" [src]="getImageUrl()" alt="Card image cap">
    <div class="card-body">
       <h2><ngb-highlight [result]="service.name" [term]="serviceitem.searchTerm"></ngb-highlight></h2>
        <p class="card-text"><ngb-highlight [result]="service.description" [term]="serviceitem.searchTerm"></ngb-highlight></p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="" class="btn btn-md btn-success" [routerLink]='["/CartItem"]' [queryParams]="{service:service.id}">{{ 'Add To Cart' | translate }}</a>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
