<!-- <div class="col-md-4"> -->
<div class="card mb-4 box-shadow">
    <img class="card-img-top img-fluid" [src]="serviceItem.image" alt="Card image cap">
    <div class="card-body">
        <h5>{{serviceItem.title}}</h5>
        <p class="card-text">{{serviceItem.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="" class="btn btn-md btn-success" [routerLink]='["/CartItem"]' [queryParams]="{service:serviceItem.id}">Add To Cart</a>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->