
.form-header{
background-color:#e9ecef ;
padding: 10px;
width: 100%;
margin: auto;
}
.form-row{
  padding: 0 10px;
  width: 100%;
  margin: auto;
}
.row-files{
    border-bottom: 5px solid #e9ecef;
    margin-bottom: 10px;
}
div.row-files:last-child{
  border-bottom: none !important;
}
