<div class="row">

  <!-- Cart Items Table -->
  <div class="col-md-12 col-lg-12">
    <div class="items">

      <!-- One Item Row -->
      <div class="product">
        <div class="row position-relative">
          <div class="overlay position-absolute d-flex" [class.show]="lineItem.status == 'CANCELLED' || ( lineItem.status == 'QUOTE_REJECTED' && checkStatus() != 'QUOTED' ) || ( lineItem.status == 'ITEM_REJECTED' && checkStatus() != 'PENDING' ) ">
            <span class="cancelled ">{{lineItem.status | translate}}</span>
            <button type="button" (click)="itemRejectReasonModal(itemRejectReasons)" *ngIf="lineItem.status == 'ITEM_REJECTED'" class="btn  btn-danger mt-2">{{'viewReasons'|translate}}</button>
          </div>
          <div class="col-md-3 mb-2 mb-md-0">
            <img class="img-fluid " [src]="appConfig.FILE_URL + lineItem.files[0].asset_id"
            *ngIf="getFileExtension() == 'image';else stlExtension">
            <ng-template #stlExtension>
              <div *ngIf="getFileExtension() == 'stl';else serviceImage">
                <stl-model-viewer [stlModels]="[appConfig.FILE_URL + lineItem.files[0].asset_id]">
                </stl-model-viewer>
              </div>
            </ng-template>
            <ng-template #serviceImage>
              <img class="img-fluid " [src]="appConfig.serviceImage(lineItem.service)">
            </ng-template>
          </div>
          <div class="col-md-9">
            <div class="info">
              <div class="row">
                <div class="col-md-12 product-name">
                  <div class="row mt-2">

                    <div class="col">
                      <h5 class="text-center text-md-left text-primary">{{lineItem.service.name}}</h5>
                    </div>
                    <div class="col-md-4 " *ngIf="lineItem.status == 'IN_PROGRESS' || lineItem.status == 'FINISHED' || lineItem.status == 'DELIVERED'">
                      {{'status' | translate}} : <span class="text-primary">{{lineItem.status}}</span>
                    </div>
                    <div class="col-md-4 " *ngIf="( checkStatus() == 'QUOTED' && lineItem.status != 'CANCELLED' ) && lineItem.status != 'ITEM_REJECTED' " >
                          <span tooltip="{{'approveQuote' | translate}}" hide-delay="0" class="custom-control custom-radio d-inline-block">
                            <input [checked]="checkRadio == 'accept'" class="custom-control-input" type="radio" id="accept_{{lineItem.id}}"  name="quotedActions_{{lineItem.id}}" value="QUOTE_ACCEPTED" (change)="quotedActionsChanged($event)" >
                            <label for="accept_{{lineItem.id}}" class="custom-control-label">
                              <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true"></i>
                            </label>
                          </span>
                          <span tooltip="{{'rejectQuote' | translate}}" hide-delay="0" class="custom-control custom-radio d-inline-block ml-2">
                            <input [checked]="checkRadio == 'reject'" class="custom-control-input" type="radio" id="reject_{{lineItem.id}}" value="QUOTE_REJECTED"  name="quotedActions_{{lineItem.id}}" (change)="quotedActionsChanged($event)" >
                            <label for="reject_{{lineItem.id}}" class="custom-control-label">
                              <i class="fa fa-thumbs-o-down text-secondary" aria-hidden="true"></i>
                            </label>
                          </span>
                    </div>
                    <div class="col-md-2 text-center text-md-right">
                      <button tooltip="{{'cancel' | translate}}"  hide-delay="0"  (click)="cancelModal(cancelAlert)"  type="button" class="btn btn-outline-danger btn-sm  mr-2" *ngIf="!(lineItem.status == 'CANCELLED' ) && (checkStatus() == 'PENDING' || ( checkStatus() == 'QUOTED' && lineItem.status != 'ITEM_REJECTED' ) || ( checkStatus() == 'QUOTE_ACCEPTED' && lineItem.status == 'QUOTE_ACCEPTED' ) )">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                      <a class="btn btn-outline-success btn-sm z-index-20 position-relative" [href]="getFileUrl()" tooltip="{{'download' | translate}}"  hide-delay="0">
                        <i class="fa fa-download" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6"
                      *ngIf="lineItem.estimatedEndDate && lineItem.unitPrice && checkStatus() != 'PENDING'">
                      <div><label>{{ 'estimatedEndDate' | translate }}
                          :&nbsp;</label><span>{{ lineItem.estimatedEndDate | date:'fullDate' }}
                        </span></div>
                      <!-- <div *ngIf="lineItem?.plannedEndDate"><span class="col-md-4">{{ 'Planned End Date' | translate }}</span><span class="value ">{{ lineItem.plannedEndDate | date:'fullDate' }}
                                                </span></div> -->
                      <div><label>{{ 'price' | translate }}
                          :&nbsp;</label><span>{{lineItem.unitPrice *lineItem.quantity|currency:'EGP'}}
                        </span></div>
                    </div>
                    <div class="col-md-6">
                      <div><label>{{ 'quantity' | translate }} :&nbsp;</label><span>{{lineItem.quantity}}</span></div>
                      <div *ngIf="lineItem.notes"><label>{{ 'notes' | translate }}
                          :&nbsp;</label><span>{{(lineItem.notes.length>40)? (lineItem.notes | slice:0:40)+'....':(lineItem.notes)}}</span>
                      </div>
                    </div>

                  </div>
                  <div class="row card-form" *ngFor="let file of lineItem.files ;index as i">
                    <!-- <div class="form-title">{{'Digital Material'|translate}}: <span class="value"><a
                                            [href]="getFileUrl(i)">{{file.asset_name}}</a></span></div> -->

                    <div class="col-md-6" *ngIf="file.height">
                      <label> {{'file.height' | translate }} :&nbsp;</label>
                      <span>{{file.height}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.width">
                      <label> {{'file.width' | translate }} :&nbsp;</label>
                      <span>{{file.width}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.material">
                      <label> {{'file.material' | translate }} :&nbsp;</label>
                      <span>{{file.material}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.type">
                      <label> {{'file.type' | translate }} :&nbsp;</label>
                      <span>{{file.type}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.color">
                      <label> {{'file.color' | translate }} :&nbsp;</label>
                      <span>{{file.color}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.unit">
                      <label> {{'file.unit' | translate }} :&nbsp;</label>
                      <span>{{file.unit}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.thickness">
                      <label> {{'file.thickness' | translate }} :&nbsp;</label>
                      <span>{{file.thickness}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.processes">
                      <label> {{'file.processes' | translate }} :&nbsp;</label>
                      <span>{{file.processes}}</span>
                    </div>
                    <!-- <div></div> -->

                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End One Item Row -->

    </div>
  </div>

  <!-- End One Item Row -->

</div>
<div class="dropdown-divider my-3">
</div>


<ng-template #cancelAlert>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">
      {{'areYouSure'|translate}} ?
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <button class="btn btn-sm btn-danger" (click)="cancelItem()">{{'yes'|translate}}</button>
      <button class="btn btn-sm btn-secondary ml-2" (click)="modalRef.hide()">{{'no'|translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #itemRejectReasons>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">
      {{'rejectionReasons'|translate}}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rejection-reason my-3">
      <span class="number mr-2 px-3 py-1">
        1
      </span>
      <span class="p-2">
        lineitem is asdsl;kl ka;kak ;lklk sa ks kas l;s k;salk  ksalk s lk lask ;lk sl ks slk
      </span>
    </div>

    <div>
      <label >{{'notes'|translate}}</label>
      <div>
        sadaka ksa lkslk  lska; kl klsa;k sl ks k slak k ;aslksal klk
      </div>
    </div>
  </div>
  <div class="modal-footer ">
    <div class="m-auto">
      <button type="button" class="btn btn-sm btn-secondary" (click)="modalRef.hide()">{{'close'|translate}}</button>
    </div>
  </div>
</ng-template>