<nav class="sidebar py-2" [ngClass]="{collapsed: collapsed }">
  <div class="list-group" *notPartner>
    <div class="f-size-15">
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/home" [routerLinkActive]="['router-link-active']">
        <i class="fas fa-home f-size-24 mx-2 text-grey-v3"></i>
        <span>{{ 'home' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/shopping-cart"
        [routerLinkActive]="['router-link-active']">
        <i class="fas fa-shopping-cart f-size-24 mx-2 text-grey-v3"></i>
        <span>{{ 'Shopping Cart' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/my-orders" [routerLinkActive]="['router-link-active']">
        <i class="fas fa-box f-size-24 mx-2 text-grey-v3"></i>
        <span>{{ 'Track-Order' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/space" [routerLinkActive]="['router-link-active']">
        <i class="fas fa-palette f-size-24 mx-2 text-grey-v3"></i>
        <span>{{ 'mySpace' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/organization-team" *isPartner
        [routerLinkActive]="['router-link-active']">
        <i class="fas fa-user-edit f-size-24 mx-2 text-grey-v3"></i>
        <span>{{ 'organizationTeam' | translate }}</span>
      </a>
      <!--///////////////////////////////////////////////////////////////////////////////////////-->
      <div class="nested-menu list-group f-size-15" *ngIf="hasAdminRole">
        <a class="list-group-item active-item d-flex align-items-center" (click)="addExpandClassSetting('settings')"
          [routerLinkActive]="['router-link-active']">
          <i class="fa fa-plus f-size-24 text-grey-v3 mx-2"></i>&nbsp;
          <span>{{ 'settings' | translate }}</span>
        </a>
        <li class="nested m-auto" [class.expand]="showMenu === 'settings'">
          <ul class="submenu p-0">

            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/settings/governorate"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle  text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'governorate' | translate }}</span>
              </a>
            </li>
            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/settings/city"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'city' | translate }}</span>
              </a>
            </li>
            <!-- <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/settings/rfq"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'RFQ' | translate }}</span>
              </a>
            </li> -->
          </ul>
        </li>
      </div>
      <!--//////////////////////////////////////////////////////////////////////////////////////-->
      <div class="nested-menu list-group f-size-15" *ngIf="hasAdminRole">
        <a class="list-group-item active-item d-flex align-items-center" (click)="addExpandClass('dashboard')"
          [routerLinkActive]="['router-link-active']">
          <i class="fa fa-plus text-grey-v3 f-size-24 mx-2"></i>&nbsp;
          <span>{{ 'Admin Dashboard' | translate }}</span>
        </a>
        <li class="nested m-auto" [class.expand]="showMenu === 'dashboard'">
          <ul class="submenu p-0">
            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/users"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'Users' | translate }}</span>
              </a>
            </li>
            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/orders-list"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'Orders' | translate }}</span>
              </a>
            </li>

            <!-- <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/courses"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'Machines' | translate }}</span>
              </a>
            </li> -->
            <!-- <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="javascript:void(0)"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'Jobs' | translate }}</span>
              </a>
            </li> -->
            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/services-list"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'service' | translate }}</span>
              </a>
            </li>

            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/reasons-list"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;
                <span>{{ 'rejectionReasons' | translate }}</span>
              </a>
            </li>
            <li>
              <a class="list-group-item active-item d-flex align-items-center" routerLink="/organizations-list"
                [routerLinkActive]="['router-link-active']">
                <i class="fas fa-circle text-grey-v3 mx-2"></i>&nbsp;<span>{{ 'organizations' | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>

    <div class="header-fields p-0">

      <ng-container *ngIf="authUser$ |async as user">
        <div class="nested-menu list-group f-size-15">
          <a class="list-group-item d-flex align-items-center" (click)="addExpandClass('profile')">
              <i class="fa fa-plus text-grey-v3 f-size-24 mx-2"></i>
              <span class="ellipsis">
                {{user.username}}
              </span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'profile'">
            <ul class="submenu py-0 ">
              <li>
                <a routerLink='/profile' class="list-group-item active-item d-flex align-items-center">
                  <i class="fas fa-user-edit  mx-2 text-grey-v3"></i>
                  <span class="f-weight-600">{{ 'Profile' | translate }}</span>
                </a>
              </li>
              <li>
                <a class="list-group-item active-item d-flex align-items-center" routerLink='/address-book'>
                  <i class="mx-2 text-grey-v3 fas fa-address-book"></i>
                  <span class="f-weight-600">{{ 'addressBook' | translate }}</span>
                </a>
              </li>
              <li>
                <a class="list-group-item active-item d-flex align-items-center" routerLink='/my-organizations'>
                  <i class="text-grey-v3 fas fa-building mx-2"></i>
                  <span class="f-weight-600">{{ 'myOrganizations' | translate }}</span>
                </a>
              </li>
              <li>
                <a [routerLink]="'/change-password'" class="list-group-item active-item d-flex align-items-center">
                  <i class="fas fa-unlock-alt mx-2 text-grey-v3"></i>
                  <span class=" f-weight-600">{{ 'changePassword' | translate }}</span>
                </a>
              </li>
              <li>
                <a (click)="authenticationService.logout()" class="list-group-item active-item d-flex align-items-center">
                  <i class="fas fa-power-off mx-2 text-grey-v3"></i>
                  <span class=" f-weight-600">{{ 'Log Out' | translate }}</span>
                </a>
              </li>
            </ul>
          </li>
        </div>
      </ng-container>

      <div class="nested-menu list-group">

        <a class="list-group-item d-flex align-items-center" (click)="addExpandClass('languages')">
          <i class="fa fa-plus text-grey-v3 f-size-24 mx-2"></i>
          <span >
            {{ 'Language' | translate }}
          </span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'languages'">
          <ul class="submenu py-0">
            <li>
              <a (click)="changeLang('en')" class="list-group-item active-item d-flex align-items-center">
                <span>{{ 'english' | translate }}</span>
              </a>
            </li>
            <li>
              <a (click)="changeLang('ar')" class="list-group-item active-item d-flex align-items-center">
                <span>{{ 'arabic' | translate }}</span>
              </a>
            </li>

          </ul>
        </li>
      </div>

    </div>
  </div>

  <!--//////////////////////////////////-->
  <div class="list-group" *isPartner>
    <div class="f-size-15">
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/home" [routerLinkActive]="['router-link-active']">
        <i class="fas fa-home f-size-24 mx-2"></i>
        <span>{{ 'home' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" [routerLinkActive]="['router-link-active']">
        <i class="fas fa-images f-size-24 mx-2"></i>
        <span>{{ 'quotationRequest' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" [routerLinkActive]="['router-link-active']">
        <i class="fas fa-palette f-size-24 mx-2"></i>
        <span>{{ 'Jobs' | translate }}</span>
      </a>
      <a class="list-group-item active-item d-flex align-items-center" routerLink="/organization-team" *isPartner
        [routerLinkActive]="['router-link-active']">
        <i class="fas fa-user-edit f-size-24 mx-2"></i>
        <span>{{ 'organizationTeam' | translate }}</span>
      </a>

    </div>
  </div>
  <!--//////////////////////////////////-->

  <div *isAuth>
    <div *ngIf="lang == 'en'" class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
      <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>
      <span>{{ 'collapseSidebar' | translate }}</span>
    </div>
    <div *ngIf="lang == 'ar'" dir="rtl" class="toggle-button"
      style="display: flex; justify-content: space-around; direction: rtl;" [ngClass]="{collapsed: collapsed}"
      (click)="toggleCollapsed()">
      <i class="fa fa-fw fa-angle-double-{{collapsed?'left':'right'}}"></i>
      <span>{{ 'collapseSidebar' | translate }}</span>
    </div>
  </div>
</nav>
