<div class="card-group container mt-5">
  <div class="card">
    <img class="card-img-top" src="assets/images/ny.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Machine-1</h5>
      <button class="btn btn-danger"> Details</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/ny.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Machine-2</h5>
      <button class="btn btn-success"> Details</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/ny.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Machine-3</h5>

      <a class="btn btn-danger" [routerLink]="['/jobs']" [queryParams]="{any:123456}">Details</a>
      <!-- <button class="btn btn-danger"> Details</button> -->
    </div>
  </div>
</div>
