<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div [routerLink]="'/'" class="cursor-pointer">
        <img src="assets/images/logo.png" width="150px" class="user-avatar" />
        <h6><strong>{{ 'changePassword' | translate }}</strong></h6>
      </div>
      <form role=" form " [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-content ">
          <div class="form-group  mb-3">
            <input type="password" formControlName="oldPassword" class="form-control input-underline input-lg"
              placeholder="{{'oldPassword' | translate }}" #oldPassword>
            <div
              *ngIf="changePasswordForm.controls.oldPassword.touched && !changePasswordForm.controls.oldPassword.valid"
              class="text-danger">
              <div *ngIf="changePasswordForm.controls.oldPassword.errors.required">
                {{ 'oldPassword.error.required' | translate }}</div>
            </div>
          </div>

          <div class="form-group  mb-3">
            <input type="password" formControlName="newPassword" class="form-control input-underline input-lg"
              placeholder="{{'newPassword' | translate }}" #newPassword>
            <div
              *ngIf="changePasswordForm.controls.newPassword.touched && !changePasswordForm.controls.newPassword.valid"
              class="text-danger">
              <div *ngIf="changePasswordForm.controls.newPassword.errors.required">
                {{ 'newPassword.error.required' | translate }}</div>
              <div *ngIf="changePasswordForm.controls.newPassword.errors.pattern">
                {{ 'password.error.pattern' | translate }} </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="password" formControlName="confirmpassword" class="form-control input-underline input-lg"
              placeholder="{{'confirmPassword' | translate }}" appConfirmEqualValidator='newPassword' #confirmpassword>
            <div
              *ngIf="changePasswordForm.controls.confirmpassword.touched && !changePasswordForm.controls.confirmpassword.valid"
              class="text-danger">
              <div *ngIf="changePasswordForm.controls.confirmpassword.errors.required">
                {{ 'confirmPassword.error.required' | translate }}</div>
              <div *ngIf="changePasswordForm.controls.confirmpassword.errors?.notEqual">
                {{ 'confirmPassword.error.mismatch' | translate }}</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="submit" class="btn rounded-btn" value="{{'changePassword'| translate}} ">
            <!-- <button class="btn rounded-btn " type="submit"
                [disabled]="changePasswordForm.invalid">{{ 'Reset' | translate }}</button> &nbsp;
              <button class="btn rounded-btn " [routerLink]="[ '/signup'] ">{{ 'Register' | translate }}</button> -->
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
