<div [@routerTransition] class="p-4">
  <app-page-header [heading]="'Update Profile'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs">
  </app-page-header>
  <mat-tab-group>
    <mat-tab label="{{'accountInfo' |translate}}">
      <div *ngIf="entity">
        <app-user-info [user]="entity"></app-user-info>
      </div>
    </mat-tab>
    <mat-tab *ngIf="entity?.defaultOrg?.type == 'PARTNER'" label="{{'orgInfo' |translate}}">
      <div *ngIf="entity">
        <app-organization-info [org]='entity.defaultOrg'></app-organization-info>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<!--////////////////////////-->
