<div class="p-4"  [@routerTransition]>
  <app-page-header  [breadCrumbs]="breadcrumbs">
  </app-page-header>
  <form class="custom-card p-3" *ngIf="entity" [formGroup]='form' (ngSubmit)="save()">
    <div class="container-fluid" *tdLoading="'loading';strategy:'overlay'">
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid">
            <div class="row">
            <div class="col-md-12 form-group">
              <label>{{'name' | translate }} :&nbsp;</label>
              <input type="text" formControlName="name" class="form-control ">
              <div class="text-danger" *ngIf="hasError('name')">
                <div *ngIf="form.controls.name.errors.required">
                  {{'error.required'|translate}}
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label>{{'status' | translate }} :&nbsp;</label>
              <select formControlName="status"  class="form-control">
                <option [value]="status" *ngFor="let status of statuses$">
                  {{status | titlecase | translate}}
                </option>
              </select>
              <div class="text-danger" *ngIf="hasError('status')">
                <div *ngIf="form.controls.status.errors.required">
                  {{'error.required'|translate}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <button type="button" class="custom-btn v4 mr-2"
              (click)="cancel()">{{'cancel'|translate}}</button>
              <button type="submit" class="custom-btn v1 ">{{'save'|translate}}</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
