<div *tdLoading="'emp-case'" [@routerTransition]>
  <app-page-header [heading]="'Update Profile'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs">
  </app-page-header>
  <form *ngIf="entity" [formGroup]='form' (ngSubmit)="save()">
    <mat-card *tdLoading="'loading'">

      <mat-card-content class="form-rtl">

        <mat-form-field class="form-rtl">
          <input name="name" matInput type="text" placeholder="{{'name'|translate}}" required formControlName='name'>
          <mat-error *ngIf="hasError('name')">{{'name.error.required'|translate}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-rtl">
          <mat-label>{{'status' | translate}}</mat-label>
          <mat-select name="status" place="Type" formControlName="status" required>
            <mat-option class="form-rtl" [value]="status" *ngFor="let status of statuses$">
              <span>{{status | titlecase | translate}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="form-rtl">

        <button type="button" mat-button (click)="cancel()">{{'Back'|translate}}</button> &nbsp;

        <button type="submit" mat-raised-button color="primary" [disabled]="f().invalid">{{'Save'|translate}}</button>
      </mat-card-actions>


    </mat-card>
  </form>

</div>
