<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div [routerLink]="'/'" role="button" class="cursor-pointer text-center">
        <img class="user-avatar" src="assets/images/logo.png" width="150px" />
        <h1 class="text-center">{{'brand.registration'|translate}}</h1>
      </div>
      <form role="form" *ngIf="registrationForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()"
        class="container">
        <div class="form-content">


          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" formControlName="firstName" class="form-control input-underline input-lg"
                placeholder="{{'firstName' | translate }}" #firstName>
              <div *ngIf="registrationForm.controls.firstName.touched && !registrationForm.controls.firstName.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.firstName.errors.required">
                  {{ 'firstName.error.required' | translate }}
                </div>
              </div>
            </div>


          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" formControlName="lastName" class="form-control input-underline input-lg"
                placeholder="{{'lastName' | translate }}" #lastName>
              <div *ngIf="registrationForm.controls.lastName.touched && !registrationForm.controls.lastName.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.lastName.errors.required">
                  {{ 'lastName.error.required' | translate }}</div>
              </div>
            </div>
          </section>


          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="email" class="form-control input-underline input-lg" placeholder="{{ 'email' | translate }}"
                formControlName="email" #email>
              <div *ngIf="registrationForm.controls.email.touched && !registrationForm.controls.email.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.email.errors.required">{{ 'email.error.required' | translate }}
                </div>
                <div *ngIf="registrationForm.controls.email.errors.pattern">
                  {{ 'email.error.invalid' | translate }}</div>

              </div>
            </div>

          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" formControlName="mobileNo" class="form-control input-underline input-lg"
                placeholder="{{'personalPhoneNumber' | translate }}" #mobileNo>
              <div *ngIf="registrationForm.controls.mobileNo.touched && !registrationForm.controls.mobileNo.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.mobileNo.errors.required">
                  {{ 'personalPhoneNumber.error.required' | translate }}</div>
                <div *ngIf="registrationForm.controls.mobileNo.errors.pattern">
                  {{ 'personalPhoneNumber.error.invalid' | translate }}</div>
              </div>
            </div>
          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="text" class="form-control input-underline input-lg"
                placeholder="{{ 'userName' | translate }}" formControlName="username" #username>
              <div *ngIf="registrationForm.controls.username.touched && !registrationForm.controls.username.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.username.errors.required">
                  {{ 'userName.error.required' | translate }}</div>
                <div *ngIf="registrationForm.controls.username.errors.minlength">
                  {{ 'userName.error.length' | translate }}</div>
              </div>

            </div>




          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-md-6 mb-3">
              <input type="password" formControlName="password" class="form-control input-underline input-lg"
                placeholder="{{ 'password' | translate }}" #password>
              <div *ngIf="registrationForm.controls.password.touched && !registrationForm.controls.password.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.password.errors.required">
                  {{ 'password.error.required' | translate }}</div>
                <div *ngIf="registrationForm.controls.password.errors.pattern">
                  {{ 'password.error.pattern' | translate }}</div>
              </div>

            </div>
          </section>
          <section class="form-row" style="justify-content: space-around;">
            <div class="form-group col-lg-6 mb-3">
              <input type="password" formControlName="confirmPassword" class="form-control input-underline input-lg"
                #confirmPassword appConfirmEqualValidator='password' placeholder="{{ 'confirmPassword' | translate }}">
              <div
                *ngIf="registrationForm.controls.confirmPassword.touched && !registrationForm.controls.confirmPassword.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.confirmPassword.errors.required">
                  {{ 'confirmPassword.error.required' | translate }}</div>
                <div *ngIf="registrationForm.controls.confirmPassword.errors?.notEqual">
                  {{ 'confirmPassword.error.mismatch' | translate }}</div>
              </div>
            </div>
          </section>
          <section class="form-row" style="justify-content:space-around ;">
            <div class="form-group col-lg-6 mb-3 d-flex justify-content-center">

              <div class="g-recaptcha" data-sitekey="6LfVQLsZAAAAAFubvZI85UgFbMcUyq57H_wVjKQk"
                data-callback="successCaptcha"></div>
              <!-- <div
                *ngIf="registrationForm.controls.recaptchaReactive.touched && !registrationForm.controls.recaptchaReactive.valid"
                class="text-danger">
                <div *ngIf="registrationForm.controls.recaptchaReactive.errors.required">
                  {{ 'recaptchaReactive.error.required' | translate }}</div>
              </div> -->
            </div>
          </section>
          <!-- <div class="form-group col-sm-6">
            <a href="#"> Agree to the terms and conditions </a>
            <input type="checkbox" formControlName="agree" #agree>
            <div *ngIf="registrationForm.controls.agree.touched && !registrationForm.controls.agree.valid"
              class="text-danger">
              <div *ngIf="registrationForm.controls.agree.errors.required">
                {{ 'Agree is required' | translate }}</div>
            </div>
          </div> -->
        </div>
        <div class="text-center">
          <input type="submit" class="btn rounded-btn" id="captchaSubmit" value="{{ 'register' | translate }} "
            [disabled]="emptyCaptcha">&nbsp;
          <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'Register' | translate }}</a>&nbsp; -->
          <a class="btn text-primary" [routerLink]="['/login']">{{ 'logIn' | translate }}</a>
        </div>

      </form>
    </div>
  </div>
</div>
