<div *tdLoading="'emp-case'" [@routerTransition]>
    <app-page-header [heading]="'Employee Case'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>
    <form *ngIf="entity" [formGroup]='form' (ngSubmit)="save()">
        <mat-card>

            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="{{'User name'|translate}}" required formControlName='username' [disabled]='true'>
                    <mat-error *ngIf="hasError('username')">User Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input name="email" matInput type="text" placeholder="{{'Email'|translate}}" required formControlName='email' [disabled]='true'>
                    <mat-error *ngIf="hasError('email')">Email name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input name="firstName" matInput type="text" placeholder=" {{'First Name '|translate}}" required formControlName='firstName' [disabled]='true'>
                    <mat-error *ngIf="hasError('firstName')">First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input name="lastName" matInput type="text" placeholder="{{'Last Name'|translate}}" required formControlName='lastName'>
                    <mat-error *ngIf="hasError('lastName')">Last Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input name="phone" matInput type="text" placeholder="{{'Phone'|translate}}" formControlName='phone'>
                    <!-- <mat-error *ngIf="hasError('phone')">phone is required</mat-error> -->
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" mat-button (click)="cancel()">Cancel</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="f().invalid">Save</button>
            </mat-card-actions>
        </mat-card>

    </form>

</div>