@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.text-black{
  color: black;
}

.text-grey-v2{
  color: #989898;
}

.text-grey{
  color:#777777;
}

.f-weight-700{
  font-weight: 700;
}

.f-weight-600{
  font-weight: 600;
}

.f-weight-500{
  font-weight: 500;
}

.f-weight-400{
  font-weight: 400;
}

.f-size-13{
  font-size: 13px;
}

.f-size-14{
  font-size: 14px;
}
.f-size-15{
  font-size: 15px;
}
.f-size-18{
  font-size: 18px;
}

.f-size-20{
  font-size: 20px;
}

.f-size-24{
  font-size: 24px;
}

.f-size-30{
  font-size: 30px;
}

.print-quote{
  color: #000000CC;
  position: static !important;
  overflow: visible !important;
  display: block !important;
}

.table  th,
.table  td{
  vertical-align: middle !important;
}

.quotation-note{
  background: #FAFAFB 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E3;
}



.table.quotation td,.table.quotation th{
  border: 1px solid #E2E2E3 !important;
}

.table.quotation tr.white-background td{
  border:1px solid white !important
}

.table.quotation tr.white-background td.custom-td{
  border: 1px solid #E2E2E3 !important;
}

.table.quotation tr.white-background td.custom-td.custom-back{
  background: #337AB7 !important;
  color: White !important;
}


.print-table-head th{
  background: #337AB7  !important;
  color: white !important;
}


.logo-img{
  height:50px;
}

.height-fluid{
  max-height: 100%;
  width: auto;
}

label{
  margin-bottom: 0 !important;
}


