<app-alert></app-alert>

<section class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7  mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>{{ 'Change Password' | translate }}</strong>
                    </h5>


                    <form class="container" data-toggle="validator" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-signin">
                        <section class="form-row">
                            <div class="form-group col-lg-6 mb-2">
                                <label>{{ 'Old Password' | translate }}</label>
                                <input type="password" formControlName="oldPassword" class="form-control" oldPassword>
                                <div *ngIf="changePasswordForm.controls.oldPassword.touched && !changePasswordForm.controls.oldPassword.valid" class="text-danger">
                                    <div *ngIf="changePasswordForm.controls.oldPassword.errors.required">{{ 'Old Password is required' | translate }}</div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 mb-2">
                                <label>{{ 'New Password' | translate }}</label>
                                <input type="password" formControlName="newPassword" class="form-control" newPassword>
                                <div *ngIf="changePasswordForm.controls.newPassword.touched && !changePasswordForm.controls.newPassword.valid" class="text-danger">
                                    <div *ngIf="changePasswordForm.controls.newPassword.errors.required">{{ 'password is required' | translate }}</div>
                                    <div *ngIf="changePasswordForm.controls.newPassword.errors.pattern">{{ 'Password Should Be have Upper Letter and Number' | translate }} </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 mb-2">
                                <label>{{ 'Confirm new Password' | translate }}</label>
                                <input type="password" formControlName="confirmpassword" class="form-control" confirmpassword appConfirmEqualValidator='password'>
                                <div *ngIf="changePasswordForm.controls.confirmpassword.touched && !changePasswordForm.controls.confirmpassword.valid" class="text-danger">
                                    <div *ngIf="changePasswordForm.controls.confirmpassword.errors.required">{{ 'confirmpassword is required' | translate }}</div>
                                    <div *ngIf="changePasswordForm.controls.confirmpassword.errors?.notEqual"> {{ 'Password Mismatch' | translate }}</div>
                                </div>
                            </div>
                        </section>

                        <section class="form-row">
                            <div class="form-group col-lg-5 mb-2">
                                <input type="submit" class="btn btn-primary btn-block" value="{{'Change Password'| translate}} ">
                            </div>
                            <div class="form-group col-md-6 mb-2">
                            </div>
                        </section>
                        <hr class="my-4">
                        <section class="row">
                            <div class="sign-up col-lg-6 mb-2">
                                <a href="../Registration/registration.html" target="_blank">{{ 'New Account' | translate }}</a>
                            </div>
                        </section>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>