<app-alert></app-alert>

<section class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7  mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-header info-color white-text text-center py-4">
            <strong>Change Password</strong>
          </h5>


          <form class="container" data-toggle="validator" #userForm="ngForm" class="form-signin"
            (ngSubmit)="userForm.valid && onSubmit()">
            <section class="form-row">
              <div class="form-group col-lg-6 mb-2">
                <label>Old Password</label>
                <input type="password" class="form-control" name="oldpassword" [(ngModel)]="model.oldpassword"
                  #oldpassword="ngModel" [ngClass]="{ 'is-invalid': userForm.submitted && oldpassword.invalid }"
                  oldpassword required>
                <div *ngIf="userForm.submitted && oldpassword.invalid" class="invalid-feedback">
                  <div *ngIf="oldpassword.errors.required">oldpassword is required</div>
                  <div *ngIf="oldpassword.errors.oldpassword">Must be a valid old password address</div>
                </div>
              </div>
              <div class="form-group col-lg-6 mb-2">
                <label>New Password</label>
                <input type="password" class="form-control" name="newpassword" [(ngModel)]="model.newpassword"
                  #newpassword="ngModel" [ngClass]="{ 'is-invalid': userForm.submitted && newpassword.invalid }"
                  newpassword required>
                <div *ngIf="userForm.submitted && newpassword.invalid" class="invalid-feedback">
                  <div *ngIf="newpassword.errors.required">new password is required</div>
                  <div *ngIf="newpassword.errors.newpassword">Must be a valid new password address</div>
                </div>
              </div>
              <div class="form-group col-lg-6 mb-2">
                <label>Confirm new Password</label>
                <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="model.confirmpassword"
                  #confirmpassword="ngModel" [ngClass]="{ 'is-invalid': userForm.submitted && confirmpassword.invalid }"
                  pattern="{{newpassword.value}}" confirmpassword required>
                <div *ngIf="userForm.submitted && confirmpassword.invalid" class="invalid-feedback">
                  <div *ngIf="confirmpassword.errors.required">confirm password is required</div>
                  <div *ngIf="confirmpassword.errors.pattern">Password & Confirm Password does not match</div>
                  <div *ngIf="confirmpassword.errors.confirmpassword">Must be a valid confirm password address</div>
                </div>
              </div>
            </section>

            <section class="form-row">
              <div class="form-group col-lg-5 mb-2">
                <input type="submit" class="btn btn-primary btn-block" value="Change Password ">
              </div>
              <div class="form-group col-md-6 mb-2">
              </div>
            </section>
            <hr class="my-4">
            <section class="row">
              <div class="sign-up col-lg-6 mb-2">
                Create? <a href="../Registration/registration.html" target="_blank">New Account</a>
              </div>
            </section>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>