<app-alert></app-alert>

<section class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7  mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-header info-color white-text text-center py-4">
            <strong>Change Password</strong>
          </h5>


          <form class="container" data-toggle="validator" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-signin">
            <section class="form-row">
              <div class="form-group col-lg-6 mb-2">
                <label>Old Password</label>
                <input type="password" formControlName="oldpassword" class="form-control" oldpassword>
                <div *ngIf="changePasswordForm.controls.oldpassword.touched && !changePasswordForm.controls.oldpassword.valid"
                  class ="text-danger">
                  <div *ngIf="changePasswordForm.controls.oldpassword.errors.required">Old Password is required</div>
                </div>
              </div>
              <div class="form-group col-lg-6 mb-2">
                <label>New Password</label>
                <input type="password" formControlName="newpassword" class="form-control" newpassword>
                <div *ngIf="changePasswordForm.controls.newpassword.touched && !changePasswordForm.controls.newpassword.valid"
                  class ="text-danger">
                  <div *ngIf="changePasswordForm.controls.newpassword.errors.required">password is required</div>
                  <div *ngIf="changePasswordForm.controls.newpassword.errors.pattern">Password Should Be have Upper Letter and Number </div>
                </div>
              </div>
              <div class="form-group col-lg-6 mb-2">
                <label>Confirm new Password</label>
                <input type="password" formControlName="confirmpassword" class="form-control" confirmpassword  appConfirmEqualValidator='password'>
                <div *ngIf="changePasswordForm.controls.confirmpassword.touched && !changePasswordForm.controls.confirmpassword.valid"
                class="text-danger">
                <div *ngIf="changePasswordForm.controls.confirmpassword.errors.required">confirmpassword is required</div>
                <div *ngIf="changePasswordForm.controls.confirmpassword.errors?.notEqual">Password Mismatch </div>
              </div>
              </div>
            </section>

            <section class="form-row">
              <div class="form-group col-lg-5 mb-2">
                <input type="submit" class="btn btn-primary btn-block" value="Change Password ">
              </div>
              <div class="form-group col-md-6 mb-2">
              </div>
            </section>
            <hr class="my-4">
            <section class="row">
              <div class="sign-up col-lg-6 mb-2">
                Create? <a href="../Registration/registration.html" target="_blank">New Account</a>
              </div>
            </section>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
