:host {
    padding: 20px;
}

input,
mat-form-field,
mat-select {
    width: 100%;
}

mat-card-actions {
    margin-top: 20px;
    display: block;
}

:host .product-name {
    font-weight: normal;
    font-size: 80%;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px -5px #888888;
}

.value {
    font-weight: bold;
}

.card-form {
    width: 100%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.card-form .form-title {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    background: #7ca4f5;
    border-radius: 10px 10px 0 0;
}

.card-form .form-title a {
    color: white;
    font-weight: bolde;
}

.card-form .form-body {
    padding: 10px;
    margin-bottom: 5px;
}

.service-item {
    color: #3f51b5;
    padding-bottom: 10px;
}

mat-card-actions {
    margin-bottom: 5px;
    margin-top: 5px;
}