<div *tdLoading="'loading'" [@routerTransition]>
  <app-page-header [heading]="'Employee Case'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>

  <div class="card mb-3" class="form-rtl" *ngIf="entity">
    <div class="card-header">
      <div class="row text-left" style="justify-content: space-between;">
        <div class="col-md-6" class="form-rtl">
          <span>{{'order.id'|translate}} : </span>
          <span class="value"> {{entity?.id.slice(-7)}}</span>
          <span style="display:block;">{{'order.status'|translate}} :<span class="value"> {{entity?.status}}</span>
          </span>
          <span style="display:block;">{{'order.totalPrice'|translate}} :<span
              class="value">{{getSubTotal(entity.lineItems)| currency:'EGP'}}</span></span>
        </div>
        <div class="col-md-6 form-rtl">
          <div class="row text-right">

            <div class="col-md-6" *ngIf="entity.status === 'PENDING'"><button
                class="btn btn-danger">{{'order.status.reject'|translate}}</button>
            </div>
            <div class="col-md-6" *ngIf="checkLineItems(entity.lineItems) && entity.status === 'PENDING'">
              <button (click)="orderStatus(entity.status,statusBtn)" #statusBtn
                class="btn btn-info">{{"order.status.quate"|translate}}</button>
            </div>
            <div class="col-md-6" (click)="orderStatus(entity.status,statusBtn)" #statusBtn
              *ngIf="entity.status === 'APPROVED'">
              <button class="btn btn-info">{{'order.status.progress'|translate}}</button>
            </div>
            <div class="col-md-6" (click)="orderStatus(entity.status,statusBtn)" #statusBtn
              *ngIf="entity.status === 'IN_PROGRESS'">
              <button class="btn btn-info">{{'order.status.ready'|translate}}</button>
            </div>
            <div class="col-md-6" (click)="orderStatus(entity.status,statusBtn)" #statusBtn
              *ngIf="entity.status === 'Ready_For_Delivery'">
              <button class="btn btn-info">{{'order.status.delivered'|translate}}</button>
            </div>
            <!-- <div class="col-md-6" (click)="orderStatus(entity.status,statusBtn)" #statusBtn
              *ngIf="entity.status === 'Delivered'">
              <button class="btn btn-info">{{'order.status.delivered'|translate}}</button>
            </div> -->

          </div>
        </div>

      </div>


    </div>
    <div class="card-body">
      <div class="product">
        <div class="row">
          <div class="col-md-12">
            <div class="info">
              <div class="row line-item light-grey-background" *ngFor="let lineItem of entity?.lineItems">

                <!-- <div class="col-md-12 product-name">
                  <h5 class="text-center service-item">{{lineItem.service.name}}</h5>

                  <div class="row">
                    <div class="col-md-6">
                      <div *ngIf="lineItem?.estimatedEndDate">
                        <mat-form-field class="form-rtl">
                          <mat-label>{{ 'Estimated End Date' | translate }}</mat-label>
                          <input matInput [matDatepicker]="picker" [(ngModel)]="lineItem.estimatedEndDate"
                            #estimatedEndDate='ngModel'>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-form-field class="form-rtl">
                          <input matInput type="number" placeholder="{{'Quantity'|translate}}"
                            [(ngModel)]="lineItem.quantity" #quantity='ngModel'>
                        </mat-form-field>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div>

                        <mat-form-field class="form-rtl">

                          <input matInput type="number" min="1" placeholder="{{'Unit Price'|translate}}"
                            [(ngModel)]="lineItem.unitPrice" #unitPrice='ngModel' required>
                          <mat-error *ngIf="unitPrice.hasError('required')">
                          </mat-error>
                        </mat-form-field>



                      </div>

                      <div>
                        <mat-form-field class="form-rtl">
                          <input matInput type="text" placeholder="{{'Notes'|translate}}" [(ngModel)]="lineItem.notes"
                            #note='ngModel'>
                        </mat-form-field>
                      </div>
                    </div>

                  </div>
                  <div class="row" *ngFor="let file of lineItem.files ;index as i" class="card-form">
                    <div class="form-title">{{'Digital Material'|translate}}: <span class="value"><a
                          [href]="getFileUrl(file)">{{file.asset_name}}</a></span></div>
                    <div class="form-body">
                      <div class="row">
                        <mat-form-field class="form-rtl col-md-6">
                          <input matInput type="text" placeholder="{{'Type'|translate}}" [(ngModel)]="file.type"
                            #type='ngModel' disabled>
                        </mat-form-field>
                        <mat-form-field class="form-rtl col-md-6">
                          <input matInput type="text" placeholder="{{'Material'|translate}}" [(ngModel)]="file.material"
                            #material='ngModel' disabled>
                        </mat-form-field>
                      </div>
                      <div class="row">
                        <mat-form-field class="form-rtl col-md-6">
                          <input matInput type="text" placeholder="{{'Dimension'|translate}}"
                            [(ngModel)]="file.processes" #dimension='ngModel' disabled>
                        </mat-form-field>
                        <mat-form-field class="form-rtl col-md-6">
                          <input matInput type="text" placeholder="{{'Color'|translate}}" [(ngModel)]="file.color"
                            #color='ngModel' disabled>
                        </mat-form-field>

                      </div>
                      <div></div>
                    </div>
                  </div>
                  <mat-card-actions class="form-rtl text-right">
                    <button (click)="updateItem(lineItem)" mat-raised-button color="primary"
                      [disabled]="f().invalid">{{'Save'|translate}}</button>
                  </mat-card-actions>


                </div> -->

                <div class="col-md-3 service-image mb-2">
                  <img class="img-fluid " [src]="getFileExtension(lineItem)"
                    *ngIf="getFileExtension(lineItem) != false;else serviceImage">
                  <ng-template #serviceImage>
                    <img class="img-fluid " [src]="appConfig.AWSUrl+lineItem.service.image">
                  </ng-template>
                  <div class="mt-3">
                    <label>{{ 'notes' | translate }} :&nbsp;</label>
                    <span class="text-danger" #heightErr>{{lineItem.notes}}</span>
                    <!-- <span >{{(entity.notes.length>40)? (entity.notes | slice:0:40)+'....':(entity.notes)}}</span> -->
                    <!-- <textarea [value]="lineItem.notes ? lineItem.notes : ''" rows="4" class="form-control" #notes
                      disabled></textarea> -->
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="info">

                    <div class="row">
                      <div class="col-md-12 ">
                        <h5>
                          <a [routerLink]="['/CartItem']"
                            [queryParams]="{service:lineItem.service.id}">{{lineItem.service.name}}</a>
                        </h5>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div>
                          <mat-form-field class="form-rtl">
                            <mat-label>{{ 'estimatedEndDate' | translate }}</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="lineItem.estimatedEndDate"
                              #estimatedEndDate='ngModel'>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                            <mat-error *ngIf="estimatedEndDate.hasError('required')">Your date of birth is required
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div>

                          <mat-form-field class="form-rtl">

                            <input matInput type="number" min="1" placeholder="{{'unitPrice'|translate}}"
                              [(ngModel)]="lineItem.unitPrice" #unitPrice='ngModel' required>
                            <mat-error *ngIf="unitPrice.hasError('required')">
                            </mat-error>
                          </mat-form-field>


                        </div>
                      </div>

                      <div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 product-name mb-2 mb-md-0">
                        <div class="product-name">

                          <div class="product-info">

                            <div class=" quantity">
                              <label for="quantity">{{ 'quantity' | translate }} :&nbsp;</label>
                              <span class="text-color" #heightErr>{{lineItem.quantity}}</span>
                              <!-- <input id="quantity" type="number" min="1" (change)="updateItem(lineItem)"
                                value="{{lineItem.quantity}}" #quantity
                                class="d-inline-block form-control quantity-input"> -->
                            </div>

                          </div>
                        </div>
                      </div>



                      <div class="col-md-2 price text-center text-md-right my-auto button-position button-position-rtl">
                        <!-- <span>$120</span> -->
                        <a class="btn btn-outline-success btn-xs" [href]="getFileUrl(lineItem)">
                          <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                        <button class="btn btn-outline-primary btn-xs" (click)="updateItem(lineItem)"
                          [disabled]="f().invalid">
                          <i class="fa fa-save"></i>
                        </button>
                        <!-- <mat-card-actions class="form-rtl text-right ">
                          <button (click)="updateItem(lineItem)" mat-raised-button color="primary"
                            [disabled]="f().invalid"><i class="icon-save"></i></button>
                        </mat-card-actions> -->

                        <!-- <button type="button"  class="btn btn-outline-danger btn-xs ml-3"
                          (click)="delete(entity)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button> -->


                      </div>
                    </div>

                    <div class="row" *ngFor="let file of lineItem.files ;index as j" class="card-form mt-3">
                      <!-- <div class="form-title">{{ 'Digital Material' | translate }}: <span class="value"><a
                                                      [href]="getFileUrl(entity,j)">{{file.asset_name}}</a></span></div> -->

                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-6 mb-2">
                            <div>
                              <label>{{'file.height' | translate }} :&nbsp;</label>
                              <span class="text-color" #heightErr>{{file.height}}</span>
                              <!-- <input type="number" [value]="file.height" class="form-control"> -->
                            </div>
                          </div>
                          <div class="col-md-6 mb-2">
                            <div>
                              <label>{{'file.width' | translate }} :&nbsp;</label>
                              <span class="text-color" #widthErr> {{file.width}}</span>
                              <!-- <input type="number" [value]="file.width" class="form-control"> -->
                            </div>
                          </div>
                          <div class="col-md-6 mb-2">
                            <div>
                              <label>{{'file.material' | translate }} :&nbsp;</label>
                              <span class="text-color" #widthErr> {{file.material}}</span>

                              <!-- <select class="form-control " [ngModel]="file.material">
                                <option *ngFor="let mat of lineItem.service.materials" [value]="mat">{{mat}}
                                </option>
                              </select> -->
                            </div>
                          </div>
                          <div class="col-md-6 mb-2" *ngIf="file.type != undefined">

                            <label>{{'file.type' | translate }} :&nbsp;</label>
                            <span class="text-color" #widthErr> {{file.type}}</span>
                            <!-- <select class="form-control " [ngModel]="file.type">
                              <option *ngFor="let t of lineItem.service.types" [value]="t">{{t}}</option>
                            </select> -->
                          </div>
                          <div class="col-md-6 mb-2" *ngIf="file.thickness != undefined">

                            <label>{{'file.thickness' | translate }} :&nbsp;</label>
                            <span class="text-color" #widthErr> {{file.thickness}}</span>
                            <!-- <select class="form-control " [ngModel]="file.thickness">
                              <option *ngFor="let thick of lineItem.service.thickness" [value]="thick">{{thick}}
                              </option>
                            </select> -->
                          </div>
                          <div class="col-md-6 mb-2" *ngIf="file.color != undefined">

                            <label>{{'file.color' | translate }} :&nbsp;</label>
                            <span class="text-color" #widthErr> {{file.color}}</span>
                            <!-- <select class="form-control " [ngModel]="file.color">
                              <option *ngFor="let c of lineItem.service.colors" [value]="c">{{c}}</option>
                            </select> -->
                          </div>
                          <div class="col-md-6 mb-2" *ngIf="file.unit != undefined">

                            <label>{{'file.unit' | translate }} :&nbsp;</label>
                            <span class="text-color" #widthErr> {{file.unit}}</span>

                            <!-- <select class="form-control " [ngModel]="file.unit">
                              <option *ngFor="let c of lineItem.service.units" [value]="c">{{c}}</option>
                            </select> -->
                          </div>
                          <div class="col-md-6 mb-2" *ngIf="file.processes != undefined">
                            <label>{{'file.processes' | translate }} :&nbsp;</label>
                            <span class="text-danger" #multiSelectErr></span>
                            <div *ngIf="!lineItem.service.processes.multi">
                              <span class="text-color" #widthErr> {{file.processes}}</span>

                              <!-- <select class="form-control" [ngModel]="file.processes">
                                <option *ngFor="let v of lineItem.service.processes.values" [value]="v">{{v}}
                                </option>
                              </select> -->
                            </div>
                            <!-- <ng-template #multiDrop>

                              <ng-multiselect-dropdown [settings]="dropdownSettings"
                                [data]="entity.service.processes.values" [(ngModel)]="selectedItemsArray[i]"
                                (onSelect)="onItemSelect(entity,i,multiSelectErr)"
                                (onDeSelect)="onItemDeSelect(entity,i,multiSelectErr)"
                                (onSelectAll)="onSelectAll(entity,$event,multiSelectErr)"
                                (onDeSelectAll)="onDeSelectAll(multiSelectErr)">
                              </ng-multiselect-dropdown>
                            </ng-template> -->
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>




        </div>
      </div>


    </div>

  </div>


</div>
