<div #header>
  <div *ngIf="user">
    <app-header></app-header>
  </div>
  <div *ngIf="!user">
    <app-anonymous-header></app-anonymous-header>
  </div>

</div>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)" *ngIf="user"></app-sidebar>
<section class="main-container"
  [ngClass]="{collapsed: collapsedSideBar,'main-container-rtl':collapsedSideBar,'mx-0':!user}">
  <div *ngIf="loadingRouteConfig" class="lazy-load">
    <div class="loading ">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div [ngStyle]="{'min-height': 'calc( 100vh - '+layoutComponentsMinHeight+'px )'}">
    <router-outlet></router-outlet>
  </div>
  <div #footer>
    <app-footer></app-footer>
  </div>
</section>
