<div #header>
  <app-header *ngIf="user"></app-header>
  <app-anonymous-header *ngIf="!user"></app-anonymous-header>
</div>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)" *ngIf="user"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapsedSideBar,'main-container-rtl':collapsedSideBar}">
  <div *ngIf="loadingRouteConfig" class="lazy-load">
    <div class="loading ">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div [ngStyle]="{'min-height': 'calc( 100vh - '+layoutComponentsMinHeight+'px )'}">
    <router-outlet></router-outlet>
  </div>
  <div #footer>
    <app-footer></app-footer>
  </div>
</section>
