<div class="p-4" [@routerTransition]>
  <app-page-header  [breadCrumbs]="breadcrumbs"></app-page-header>
  <form>
    <div class="form-group form-inline">
      <span class="site-color-v5 f-size-20 f-weight-600">
        {{'users'|translate}}
      </span>
      <input class="search-input form-control ml-2" [class.rtl]="lang==='ar'" type="text" placeholder="{{'Search'|translate}}" name="searchTerm"
        [(ngModel)]="searchTerm" />
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <div class="table-responsive">
      <table class="table " *tdLoading="'loading'">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="firstName" (sort)="onSort($event)">{{'firstName'|translate}}</th>
          <th scope="col" sortable="lasName" (sort)="onSort($event)">{{'lastName'|translate}}</th>
          <th scope="col" sortable="email" (sort)="onSort($event)">{{'email'|translate}}</th>
          <th scope="col">{{'Phone'|translate}}</th>
          <th scope="col" sortable="username" (sort)="onSort($event)">{{'Username'|translate}}</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entities$ | async; let i=index">
          <th scope="row">{{ i+1 }}</th>
          <td>
            <ngb-highlight [result]="entity.firstName" [term]="searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="entity.lastName" [term]="searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="entity.email" [term]="searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="entity.mobileNo" [term]="searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="entity.username" [term]="searchTerm"></ngb-highlight>
          </td>
          <td>

            <a [routerLink]="entity.id" title="{{'user.view' | translate}}"><i class="fa fa-fw fa-edit"></i></a>&nbsp;
            <button type="button" *ngIf="!entity.enabled" (click)="status(entity)" mat-stroked-button
              color="primary">{{'Enable'|translate}}</button>
            <a *ngIf="entity.enabled" href="javascript:void(0)" title="{{'enabled' | translate}}">
              <i class="fa fa-check" aria-hidden="true"></i>
            </a>
            <!-- <button type="button" *ngIf="entity.enabled" (click)="status(entity)" mat-stroked-button color="warn">{{'Disable'|translate}}</button> -->


            <!-- <a><i class="fa fa-fw fa-edit"></i></a>&nbsp; -->
            <!-- <a (click)="delete(entity)" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i></a> -->

            <!-- <a><i class="fa fa-fw fa-trash"></i></a> -->
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
    </div>

  </form>
  <!-- {{entities$ |async|json}} -->

</div>
