<div class="p-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 custom-card p-3 text-center">

          <i class="fas text-grey-v2 mb-3 fa-smile-beam fa-4x"></i>
          <p class="text-grey">{{'invitationDescription'|translate}}</p>
          <p class="text-grey">{{'invitedBy'|translate}} : </p>
          <div>
            <button class="custom-btn v1 mr-2">{{'accept'|translate}}</button>
            <button class="custom-btn btn-danger">{{'decline'|translate}}</button>
          </div>

      </div>
    </div>
  </div>
</div>
