<div class="row">

  <!-- Cart Items Table -->
  <div class="col-md-12 col-lg-12">
    <div class="items">

      <!-- One Item Row -->
      <div class="product">
        <div class="row position-relative">
          <div class="overlay position-absolute d-flex" [class.show]="showTerminatedOverlay()">
            <span class="cancelled ">{{lineItem.status | translate}}</span>
            <button type="button" (click)="itemRejectReasonModal(itemRejectReasons)"
              *ngIf="lineItem.status == 'ITEM_REJECTED'"
              class="btn  btn-danger mt-2">{{'viewReasons'|translate}}</button>
          </div>
          <div class="col-md-3 mb-2 mb-md-0">
            <img class="img-fluid " [src]="appConfig.FILE_URL + lineItem.files[0].asset_id"
              *ngIf="getFileExtension() == 'image';else stlExtension">
            <ng-template #stlExtension>
              <div *ngIf="getFileExtension() == 'stl';else serviceImage">
                <img class="img-fluid " [src]="appConfig.serviceImage(lineItem.service)">
                <app-stl-modal [stlPath]="appConfig.FILE_URL + lineItem.files[0].asset_id"></app-stl-modal>
              </div>
            </ng-template>
            <ng-template #serviceImage>
              <img class="img-fluid " [src]="appConfig.serviceImage(lineItem.service)">
            </ng-template>
          </div>
          <div class="col-md-9">
            <div class="info">
              <div class="row">
                <div class="col-md-12 product-name">
                  <div class="row mt-2">

                    <div class="col">
                      <h5 class="text-center text-md-left text-primary">{{lineItem.service.name}}</h5>
                    </div>
                    <div class="col-md-4 " *ngIf="showAfterInProgressStatus()">
                      {{'status' | translate}} : <span class="text-primary">{{lineItem.status}}</span>
                    </div>
                    <div class="col-md-6 text-right" *ngIf="showApproveRejectQuote()">

                      <label class="accept-radio mr-3 ">
                          <input [checked]="checkRadio == 'accept'"  type="radio"
                          id="accept_{{lineItem.id}}" name="quotedActions_{{lineItem.id}}" value="QUOTE_ACCEPTED"
                          (change)="quotedActionsChanged($event)">
                          <i class="fas fa-thumbs-up mr-2" ></i>
                          <span >{{'approve'|translate}}</span>
                      </label>
                       <label class="reject-radio mr-3 ">
                          <input [checked]="checkRadio == 'reject'"  type="radio"
                          id="reject_{{lineItem.id}}" value="QUOTE_REJECTED" name="quotedActions_{{lineItem.id}}"
                          (change)="quotedActionsChanged($event)">
                          <i class="fas fa-thumbs-down mr-2" ></i>
                          <span >{{'reject'|translate}}</span>
                      </label>
                      <button tooltip="{{'cancel' | translate}}" hide-delay="0" (click)="cancelItemModal(cancelItemAlert)"
                        type="button" class="btn btn-outline-danger btn-sm  mr-3" *ngIf="showCancelItemBtn()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                      <a class="btn btn-outline-success btn-sm z-index-20 position-relative" [href]="getFileUrl()"
                        tooltip="{{'download' | translate}}" hide-delay="0">
                        <i class="fa fa-download" aria-hidden="true"></i>
                      </a>
                    </div>

                  </div>
                  <div class="container-fluid">
                    <div class="row my-2 sky-section p-2">
                      <div class="col-md-6"
                        *ngIf="lineItem.duration && lineItem.unitPrice && orderStatus != 'PENDING'">
                        <div *ngIf="orderStatus == 'QUOTED';else endDate"><label>{{ 'manufacturingDuration' | translate }}
                            :&nbsp;</label><span>{{ lineItem.duration }} {{'workingDays'|translate}}
                          </span></div>
                        <ng-template #endDate>
                          <div><label>{{ 'estimatedEndDate' | translate }}
                            :&nbsp;</label><span>{{ itemEndDate | date:'fullDate' }}
                          </span></div>
                        </ng-template>


                        <div><label>{{ 'price' | translate }}
                            :&nbsp;</label><span>{{lineItem.unitPrice *lineItem.quantity|currency:'EGP'}}
                          </span></div>
                      </div>
                      <div class="col-md-6">
                        <div><label>{{ 'quantity' | translate }} :&nbsp;</label><span>{{lineItem.quantity}}</span></div>
                        <div *ngIf="lineItem.notes"><label>{{ 'notes' | translate }}
                            :&nbsp;</label><span>{{(lineItem.notes.length>40)? (lineItem.notes | slice:0:40)+'....':(lineItem.notes)}}</span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row " *ngFor="let file of lineItem.files ;index as i">
                    <!-- <div class="form-title">{{'Digital Material'|translate}}: <span class="value"><a
                                            [href]="getFileUrl(i)">{{file.asset_name}}</a></span></div> -->

                    <div class="col-md-6" *ngIf="file.height">
                      <label> {{'file.height' | translate }} :&nbsp;</label>
                      <span>{{file.height}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.width">
                      <label> {{'file.width' | translate }} :&nbsp;</label>
                      <span>{{file.width}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.material">
                      <label> {{'file.material' | translate }} :&nbsp;</label>
                      <span>{{file.material}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.type">
                      <label> {{'file.type' | translate }} :&nbsp;</label>
                      <span>{{file.type}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.color">
                      <label> {{'file.color' | translate }} :&nbsp;</label>
                      <span>{{file.color}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.unit">
                      <label> {{'file.unit' | translate }} :&nbsp;</label>
                      <span>{{file.unit}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.thickness">
                      <label> {{'file.thickness' | translate }} :&nbsp;</label>
                      <span>{{file.thickness}}</span>
                    </div>
                    <div class="col-md-6" *ngIf="file.processes">
                      <label> {{'file.processes' | translate }} :&nbsp;</label>
                      <span>{{file.processes}}</span>
                    </div>
                    <!-- <div></div> -->

                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End One Item Row -->

    </div>
  </div>

  <!-- End One Item Row -->

</div>
<div class="dropdown-divider my-3">
</div>


<ng-template #cancelItemAlert>
    <div class="modal-body ">
      <div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center mt-2 text-danger">
        <i class="fas fa-times fa-5x"></i>
      </div>
      <div class="text-center mt-2 site-color-v3 f-weight-600 f-size-20">
        {{'areYouSure'|translate}}
      </div>
      <div class="text-center f-size-14 text-grey mt-2">
        {{'deleteDescription'|translate}}
      </div>
      <div class="text-center my-2 f-weight-600">
        <button class="custom-btn v4 mr-3" (click)="modalRef.hide()">{{'no'|translate}}</button>
        <button class="custom-btn btn-danger" (click)="cancelItem();modalRef.hide()">{{'yes'|translate}}</button>
      </div>
    </div>
</ng-template>

<ng-template #itemRejectReasons>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">
      {{'rejectionReasons'|translate}}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="rejection-reason my-3" *ngFor="let r of lineItem.rejectionReasons;let i = index">
      <span class="number mr-2 px-3 py-1">
        {{i+1}}
      </span>
      <span class="p-2">
        {{r.name}}
      </span>
    </div>

    <div *ngIf="lineItem.rejectionNote != null">
      <label>{{'notes'|translate}}</label>
      <div>
        {{lineItem.rejectionNote}}
      </div>
    </div>
  </div>
  <div class="modal-footer ">
    <div class="m-auto">
      <button type="button" class="btn btn-sm btn-secondary" (click)="modalRef.hide()">{{'close'|translate}}</button>
    </div>
  </div>
</ng-template>
