<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="index.css">-->

    <title>iLab SC Template</title>
</head>

<body>
    <main class="page">
        <section class="tracking-orders ">

            <div class="container">

                <!-- Page Head -->
                <div class="block-heading text-center">
                    <h2>Pending Orders</h2>
                    <p>These are orders waiting for Quotation</p>
                </div>
                <!-- End Page Head -->

                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-12">
                                <span>Order ID : </span>
                                <span> 34354546</span>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                Order Date : <span> 23/04/2020</span>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                Total Payment : <span> NA </span>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Update">
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <section class="shopping-cart dark">
                            <div class="container">
                                <!-- page Head -->
                                <!-- End page Head -->

                                <!-- Page Content -->
                                <div class="content">
                                    <div class="row">

                                        <!-- Cart Items Table -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="items">

                                                <!-- One Item Row -->
                                                <div class="product">
                                                    <div class="row info">
                                                        <div class=" col-sm-4 my-border">
                                                            <img class="card-img-top" src="assets/images/ny.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="col-md-6 product-name">
                                                            <h5 class="text-center">Service Details</h5>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div>Deliver Date: <span class="value">17/10/2020</span></div>
                                                                    <div>Color: <span class="value">red</span></div>
                                                                    <div>Type of project: <span class="value">Personal</span></div>
                                                                    <div>Quantity: <span class="value">4</span></div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div>Digital Material: <a href="#">File</a></div>
                                                                    <div>Units used in file: <span class="value">MM</span></div>
                                                                    <div>Price: <span class="value">20EGP</span></div>
                                                                    <!-- <div>Memory: <span class="value">32GB</span></div> -->
                                                                </div>

                                                            </div>
                                                        </div>



                                                        <!-- <div class="col-md-1 price">

                                    <button type="button" class="btn btn-outline-danger btn-xs">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </div> -->

                                                    </div>

                                                    <hr>
                                                    <div class="price">

                                                        <div>
                                                            <input type="radio" name="status" [(ngModel)]="status" value="Quotation"> Send Quotation
                                                            <br>
                                                            <input type="radio" name="status" [(ngModel)]="status" value="Regect" #Regect> Reject<br>
                                                        </div>

                                                        <section *ngIf="status === 'Quotation'">
                                                            <form class="container" data-toggle="validator">
                                                                <article class="row">
                                                                    <div class="col-md-12">
                                                                        <section class="form-row">
                                                                            <div class="form-group col-sm-6 mb-2">
                                                                                <label>Price</label>
                                                                                <input type="text" name="Price" class="form-control" required>
                                                                                <!-- <div *ngIf="userForm.submitted && Price.invalid" class="text-danger">
                                          <div *ngIf="Price.errors.required">Price Is Required</div>
                                        </div> -->
                                                                            </div>
                                                                            <div class="form-group col-sm-6 mb-2">
                                                                                <label>Duration</label>
                                                                                <input type="text" name="datetime" class="form-control" required>
                                                                                <!-- <div *ngIf="userForm.submitted && datetime.invalid" class="text-danger">
                                          <div *ngIf="datetime.errors.required">Duration is required</div>
                                        </div> -->
                                                                            </div>
                                                                        </section>
                                                                        <section class="form-row">
                                                                            <div class="form-group col-sm-6 mb-2">
                                                                                <label>Machine</label>
                                                                                <select name="machine" class="form-control" required>
                                          <option value="red">Machine-1</option>
                                          <option value="green">Machine-2</option>
                                          <option value="yellow">Machine-3</option>
                                        </select>
                                                                                <!-- <div *ngIf="userForm.submitted && machine.invalid" class="text-danger">
                                          <div *ngIf="machine.errors.required">machine is required</div>
                                        </div> -->
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </article>
                                                            </form>
                                                        </section>
                                                        <section *ngIf="status === 'Regect'">
                                                            <form class="container" data-toggle="validator">
                                                                <article class="row">
                                                                    <div class="col-md-12">
                                                                        <section class="form-row">
                                                                            <div class="form-group col-sm-6 mb-2">
                                                                                <label>Reason</label>
                                                                                <input type="text" name="Price" class="form-control" required>
                                                                                <!-- <div *ngIf=" Price.invalid" class="text-danger">
                                          <div *ngIf="Price.errors.required">Reason Is Required</div>
                                        </div> -->
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </article>
                                                            </form>
                                                        </section>
                                                    </div>
                                                </div>
                                                <!-- End One Item Row -->

                                            </div>
                                        </div>

                                        <!-- End One Item Row -->

                                    </div>
                                </div>
                                <!-- End Page Content -->

                            </div>
                        </section>

                    </div>
                    <div class="card-body">
                        <section class="shopping-cart dark">
                            <div class="container">
                                <!-- page Head -->
                                <!-- End page Head -->

                                <!-- Page Content -->
                                <div class="content">
                                    <div class="row">

                                        <!-- Cart Items Table -->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="items">

                                                <!-- One Item Row -->
                                                <div class="product">
                                                    <div class="row info">
                                                        <div class=" col-sm-4 my-border">
                                                            <img class="card-img-top" src="assets/images/ny.jpg" alt="Card image cap">
                                                        </div>
                                                        <div class="col-md-6 product-name">
                                                            <h5 class="text-center">Service Details</h5>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div>Deliver Date: <span class="value">5 inch</span></div>
                                                                    <div>Color: <span class="value">4GB</span></div>
                                                                    <div>Type of project: <span class="value">32GB</span></div>
                                                                    <div>Quantity: <span class="value">32GB</span></div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div>Uploaded File: <a href="#">File</a></div>
                                                                    <div>Units used in file: <span class="value">4GB</span></div>
                                                                    <div>Price: <span class="value">32GB</span></div>
                                                                    <!-- <div>Memory: <span class="value">32GB</span></div> -->
                                                                </div>

                                                            </div>
                                                        </div>



                                                        <!-- <div class="col-md-1 price">

                                    <button type="button" class="btn btn-outline-danger btn-xs">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </div> -->

                                                    </div>

                                                    <hr>
                                                    <div class="price">

                                                        <div>
                                                            <input type="radio" name="status" value="Quotation"> Send Quotation<br>
                                                            <input type="radio" name="status" value="Regect"> Reject<br>
                                                        </div>

                                                        <section>
                                                            <form class="container" data-toggle="validator">
                                                                <article class="row">
                                                                    <div class="col-md-12">
                                                                        <section class="form-row">
                                                                            <div class="form-group col-sm-6 mb-2">
                                                                                <label>Reason</label>
                                                                                <input type="text" name="Price" class="form-control" required>
                                                                                <!-- <div *ngIf=" Price.invalid" class="text-danger">
                                          <div *ngIf="Price.errors.required">Reason Is Required</div>
                                        </div> -->
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </article>
                                                            </form>
                                                        </section>
                                                    </div>
                                                </div>
                                                <!-- End One Item Row -->

                                            </div>
                                        </div>

                                        <!-- End One Item Row -->

                                    </div>
                                </div>
                                <!-- End Page Content -->

                            </div>
                        </section>

                    </div>

                    <div>

                    </div>

                </div>

            </div>
        </section>

    </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="dashboard.js"></script>
</body>

</html>