<!-- <app-order-card></app-order-card> -->
<main class="page">
  <section class="tracking-orders ">

    <div class="container">

      <!-- Page Head -->
      <div class="block-heading text-center">
        <h2>Pending Orders</h2>
        <p>These are orders waiting for Quotation </p>
      </div>
      <!-- End Page Head -->

      <!-- Old Static Data was here -->

      <!-- <div class="card mb-3" *ngFor='let order of orders'>
          <app-order-card ></app-order-card>
        </div> -->
      <app-order-card class="col-md-4" *ngFor="let order of orders" [order]="order"></app-order-card>

    </div>
  </section>

</main>
