<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm" />
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="arName" (sort)="onSort($event)">Name</th>
                <th scope="col" sortable="email" (sort)="onSort($event)">email</th>
                <th scope="col">Phone</th>
                <th scope="col" sortable="username" (sort)="onSort($event)">Username</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of entities$ | async; let i=index">
                <th scope="row">{{ i+1 }}</th>
                <td>
                    <ngb-highlight [result]="user.arName" [term]="searchTerm"></ngb-highlight>
                </td>

                <td>
                    <ngb-highlight [result]="user.email" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.phoneNo" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.username" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>

                    <a><i class="fa fa-fw fa-edit"></i></a>&nbsp;
                    <!-- <a (click)="delete(entity)" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i></a> -->

                    <!-- <a><i class="fa fa-fw fa-trash"></i></a> -->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
    </div>

</form>