<div [@routerTransition]>
    <app-page-header [heading]="'Programs'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>
    <form>
        <div class="form-group form-inline">
            <input class="form-control ml-2" type="text" placeholder="{{'Search'|translate}}" name="searchTerm" [(ngModel)]="searchTerm" />
            <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" sortable="firstName" (sort)="onSort($event)">{{'First Name'|translate}}</th>
                    <th scope="col" sortable="email" (sort)="onSort($event)">{{'email'|translate}}</th>
                    <th scope="col">{{'Phone'|translate}}</th>
                    <th scope="col" sortable="username" (sort)="onSort($event)">{{'Username'|translate}}</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of entities$ | async; let i=index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>
                        <ngb-highlight [result]="entity.firstName" [term]="searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="entity.email" [term]="searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="entity.phoneNo" [term]="searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="entity.username" [term]="searchTerm"></ngb-highlight>
                    </td>
                    <td>

                        <a [routerLink]="entity.id" title="{{'View User' | translate}}"><i class="fa fa-fw fa-edit"></i></a>&nbsp;
                        <button type="button" *ngIf="!entity.enabled" (click)="status(entity)" mat-stroked-button color="primary">{{'Enable'|translate}}</button>
                        <!-- <button type="button" *ngIf="entity.enabled" (click)="status(entity)" mat-stroked-button color="warn">{{'Disable'|translate}}</button> -->


                        <!-- <a><i class="fa fa-fw fa-edit"></i></a>&nbsp; -->
                        <!-- <a (click)="delete(entity)" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i></a> -->

                        <!-- <a><i class="fa fa-fw fa-trash"></i></a> -->
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
        </div>

    </form>

</div>