<div class="login-page" [@routerTransition]>

  <div class="mt-5" *tdLoading="'loading';strategy:'overlay'">
    <div class="container row justify-content-center m-auto">
      <div [routerLink]="'/'" class="cursor-pointer col-12 text-center">
        <img src="assets\images\Fabri Hub_Logo@2x.png" class="img-fluid" />
      </div>
      <form role="form" [formGroup]="forgetPasswordForm" class="col-6 mt-3" (ngSubmit)="onSubmit()">
        <div class="row m-auto justify-content-center">
          <h4 class="text-center col-10 font-weight-bolder mt-3 mb-2 brand">{{'brand.forgetPassword'|translate}}
          </h4>
          <h6 class="text-center col-10 mb-4 desforget">{{'desForgetPass'|translate}}</h6>

          <div class="form-group col-md-10">
            <label for="first" class="brand font-weight-bold">{{"email"|translate}}</label>
            <input type="email " class="form-control" id="first" placeholder="{{ 'enterEmail' | translate }} "
              formControlName="Email">
            <div *ngIf="forgetPasswordForm.controls.Email.touched && !forgetPasswordForm.controls.Email.valid"
              class="text-danger">
              <div *ngIf="forgetPasswordForm.controls.Email.errors.required">{{'email.error.required'|translate}}</div>
              <div *ngIf="forgetPasswordForm.controls.Email.errors.email">{{'email.error.invalid'|translate}}
              </div>
            </div>
          </div>
          <div class=" d-flex justify-content-center">
            <div class="d-block mb-2">
              <div class="g-recaptcha" data-sitekey="6LfVQLsZAAAAAFubvZI85UgFbMcUyq57H_wVjKQk"
                data-callback="successCaptcha">
              </div>
            </div>
          </div>
          <div class="form-group col-md-10">
            <button class="btn rounded-btn text-light w-100" [disabled]="emptyCaptcha"
              type="submit">{{ 'logIn' | translate }}</button>
          </div>
          <div class="form-group col-md-10 text-center">
            <span class="h6">{{"don'tHaveAnAccount?"|translate}}</span>
            <a class="h6 main-color font-weight-bold" [routerLink]="[ '/signup'] ">
              {{ 'signup' | translate }}
            </a>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
