<div class="p-4"  [@routerTransition]>
  <app-page-header  [breadCrumbs]="breadcrumbs">
  </app-page-header>
  <form class="custom-card p-3" *ngIf="entity" [formGroup]='form' (ngSubmit)="save()">
    <div class="container-fluid" *tdLoading="'loading';strategy:'overlay'">
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid">
            <div class="row">
            <div class="col-md-12 form-group">
              <label>{{'expirationDuration' | translate }} :&nbsp;</label>
              <input type="text" formControlName="expirationDuration" class="form-control ">
              <div class="text-danger" *ngIf="hasError('expirationDuration')">
                <div *ngIf="form.controls.expirationDuration.errors.required">
                  {{'error.required'|translate}}
                </div>
                <div *ngIf="form.controls.expirationDuration.errors.pattern">
                  {{'error.pattern'|translate}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <button type="button" class="custom-btn v4 mr-2"
              (click)="cancel()">{{'cancel'|translate}}</button>
              <button type="submit" class="custom-btn v1 ">{{'save'|translate}}</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
