<div [@routerTransition]>
  <div class="container px-0">
    <app-page-header [heading]="'Programs'" [icon]="'fa-bar-chart-o'" [breadCrumbs]="breadcrumbs"></app-page-header>
  </div>


  <!-- <mat-form-field class="form-rtl col-12">
        <mat-label>{{' Select Service' | translate}}</mat-label>
        <mat-select (selectionChange)="bulidForm($event.value)"  [(value)]="service" #selectionVal>
            <mat-option class="form-rtl" *ngFor="let service of services" [value]="service">
                {{service?.name}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->
  <div class="container px-0">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label>{{'service.select' | translate }} </label> :
        <select class="form-control" (change)="buildForm($event.target.value)" [formControl]="selectService">

          <option disabled selected value="undefined">{{'service.select' | translate}}</option>
          <ng-container *ngFor="let i of services">
            <option [value]="i.id">{{i.name}}</option>
          </ng-container>

        </select>
      </div>
    </div>
  </div>

  <article class=" container card form-rtl">
    <!-- <div *ngIf="activeService != undefined"> -->
    <h4 class="text-center text-primary">{{activeService?.name}} </h4>
    <h6 class="text-center">{{activeService?.description}}</h6>

    <!-- </div> -->
    <form [formGroup]='form' (ngSubmit)="submit()">
      <div class="container-fluid mt-4">
        <div class="row">


          <div class="col-md-6 mb-3">
            <img class="img-fluid" [src]="appConfig.serviceImage(activeService)" alt=""
              *ngIf="activeService?.image != undefined;else defaultImage">
            <ng-template #defaultImage>
              <img src="assets/images/ilab.png" alt="" class="img-fluid">
            </ng-template>
            <div class="mt-3">
              <label>{{'notes'|translate}} :</label>
              <textarea class="form-control" rows="3" formControlName="notes"></textarea>
            </div>
          </div>
          <div class="col-md-6 ">
            <div *ngIf="activeService">
              <div>
                <mat-radio-group class="row" [formControl]='selection' #radioGroup="matRadioGroup">
                  <mat-radio-button class="col-6" value="option1">{{"Upload File" |translate}}
                  </mat-radio-button>
                  <mat-radio-button class="col-6" value="option2" (click)="lgModal.show()">
                    {{"file.choose" |translate}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="radioGroup.value =='option1'">
                <label>{{'File'|translate}} :</label>
                <span *ngIf="form.controls.file.errors != null">
                  <span class="text-danger" *ngIf="form.controls.file.errors.required && form.controls.file.touched">
                    *{{'file.field.error.required'|translate}}</span>
                  <span class="text-danger" *ngIf="form.controls.file.errors.extension "> |
                    *{{'file.errors.extensions'|translate}} {{form.controls.file.errors.extension}} </span>
                </span>
                <input type="file" [accept]="extFile" formControlName="file" class="form-control mb-3 border"
                  (change)="handleFileInput($event)">
              </div>
              <div *ngIf="radioGroup.value =='option2'">
                <label>{{'File' | translate}} :</label>
                <span class="text-danger" *ngIf="!form.controls.asset_id.valid ">
                  *{{'file.field.error.required' | translate}}</span>
                <!-- <input type="text" formControlName="asset_id" class="form-control mb-3 border" disabled> -->
                <select formControlName="asset_id" class="form-control mb-3 border remove-arow" disabled>

                  <option disabled selected value='undefined'>{{'file.select' | translate}}</option>
                  <ng-container *ngFor="let x of filterFiles">
                    <option [value]="x.id">{{x.name}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <label>{{'quantity'|translate}} :</label>
            <span *ngIf="form.controls.quantity.errors != null">
              <span class="text-danger"
                *ngIf="form.controls.quantity.errors.required && form.controls.quantity.touched">
                *{{'quantity.error.required'|translate}}</span>
              <span class="text-danger" *ngIf="form.controls.quantity.errors.min && form.controls.quantity.touched"> |
                *{{'quantity.error.min'|translate}}</span>
              <span class="text-danger" *ngIf="form.controls.quantity.errors.NaN && form.controls.quantity.dirty"> |
                *{{'quantity.error.nan'|translate}}</span>
            </span>
            <input type="number" formControlName="quantity" class="form-control mb-3">

            <label>{{'file.height'|translate}} :</label>
            <span *ngIf="form.controls.height.errors != null">
              <span class="text-danger" *ngIf="form.controls.height.errors.required && form.controls.height.touched">
                *{{'file.field.error.required' | translate}}</span>
              <span class="text-danger" *ngIf="form.controls.height.errors.min && form.controls.height.touched"> |
                *{{'file.field.error.min' | translate}}</span>
              <span class="text-danger" *ngIf="form.controls.height.errors.NaN && form.controls.height.dirty"> |
                *{{'file.field.error.nan' | translate}}</span>
            </span>
            <input type="number" formControlName="height" class="form-control mb-3">

            <label>{{'file.width' | translate}} :</label>
            <span *ngIf="form.controls.width.errors != null">
              <span class="text-danger" *ngIf="form.controls.width.errors.required && form.controls.width.touched">
                *{{'file.field.error.required' | translate}}</span>
              <span class="text-danger" *ngIf="form.controls.width.errors.min && form.controls.width.touched"> |
                *{{'file.field.error.min' | translate}}</span>
              <span class="text-danger" *ngIf="form.controls.width.errors.NaN && form.controls.width.dirty"> |
                *{{'file.field.error.nan' | translate}}</span>
            </span>
            <input type="number" formControlName="width" class="form-control mb-3">

            <div *ngIf="activeService?.materials != undefined" class="mb-3">
              <label>{{'file.material' | translate}} :</label>
              <span class="text-danger" *ngIf="!form.controls.material.valid && form.controls.material.touched">
                *{{'file.field.error.required' | translate}}</span>
              <select formControlName="material" class="form-control">
                <option disabled selected value="undefined">{{'file.material.select' | translate}}</option>
                <ng-container *ngFor="let x of activeService?.materials">
                  <option [value]="x">{{x}}</option>
                </ng-container>
              </select>
            </div>
            <div *ngIf="activeService?.thickness != undefined" class="mb-3">
              <label>{{'file.thickness' | translate}} :</label>
              <span class="text-danger" *ngIf="!form.controls?.thickness?.valid && form.controls?.thickness?.touched">
                *{{'file.field.error.required' | translate}}</span>
              <select formControlName="thickness" class="form-control">

                <option disabled selected value="undefined">{{'file.thickness.select' | translate}}</option>
                <ng-container *ngFor="let y of activeService.thickness">
                  <option [value]="y">{{y}}</option>
                </ng-container>
              </select>
            </div>

            <div *ngIf="activeService?.colors != undefined" class="mb-3">
              <label>{{'file.color' | translate}} :</label>
              <span class="text-danger" *ngIf="!form.controls?.color?.valid && form.controls?.color?.touched">
                *{{'file.field.error.required' | translate}}</span>
              <select formControlName="color" class="form-control">

                <option disabled selected value="undefined">{{'file.color.select' | translate}}</option>
                <ng-container *ngFor="let y of activeService.colors">
                  <option [value]="y">{{y}}</option>
                </ng-container>
              </select>
            </div>
            <div *ngIf="activeService?.types != undefined" class="mb-3">
              <label>{{'file.type' | translate}} :</label>
              <span class="text-danger" *ngIf="!form.controls?.type?.valid && form.controls?.type?.touched">
                *{{'file.field.error.required' | translate}}</span>
              <select formControlName="type" class="form-control">

                <option disabled selected value="undefined">{{'file.type.select' | translate}}</option>
                <ng-container *ngFor="let y of activeService.types">
                  <option [value]="y">{{y}}</option>
                </ng-container>
              </select>
            </div>
            <div *ngIf="activeService?.units != undefined" class="mb-3">
              <label>{{'file.unit' | translate}} :</label>
              <span class="text-danger" *ngIf="!form.controls?.unit?.valid && form.controls?.unit?.touched">
                *{{'file.field.error.required' | translate}}</span>
              <select formControlName="unit" class="form-control">

                <option disabled selected value="undefined">{{'file.unit.select' | translate}}</option>
                <ng-container *ngFor="let y of activeService.units">
                  <option [value]="y">{{y}}</option>
                </ng-container>
              </select>
            </div>
            <div *ngIf="activeService?.processes != undefined" class="mb-3">
              <label>{{'file.processes' | translate}} :</label>
              <span class="text-danger"
                *ngIf="(!form.controls?.mprocesses?.valid && form.controls?.mprocesses?.dirty) || ( !form.controls?.processes?.valid && form.controls?.processes?.touched )">
                *{{'file.field.error.required' | translate}}</span>
              <div *ngIf="activeService.processes.multi==true;else processesSingle">
                <ng-multiselect-dropdown formControlName="mprocesses" placeholder="{{'file.process.select'|translate}}"
                  [settings]="dropdownSettings" [data]="activeService.processes.values">
                </ng-multiselect-dropdown>
              </div>
              <ng-template #processesSingle>
                <select formControlName="processes" class="form-control" >
                  <option disabled value="undefined" >{{'file.process.select' | translate}}</option>
                  <ng-container *ngFor="let v of activeService.processes.values">
                    <option [value]="v">{{v}}</option>
                  </ng-container>
                </select>
              </ng-template>
            </div>
          </div>

          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary "
              [disabled]="!form.valid || activeService?.id==null || loading == false">
              {{'addToCart' | translate}} <i class="fa fa-cart-plus " aria-hidden="true" #flyToCart></i>
            </button>
          </div>
        </div>
      </div>

    </form>

    <!-- <hr class="mt-0">

    <hr class="mb-0"> -->
    <!-- <div class="card-body" *ngIf="service">
        <h5 class="card-title">{{'Service Description' |translate}}</h5>
        <p class="card-text">
            {{service?.description}}
        </p>

    </div> -->
  </article>
</div>
<!--modal-->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="form-group form-inline row">
            <div class="col-md-6">
              <input class="form-control ml-2" type="text" placeholder="{{'Search'|translate}}" name="searchTerm"
                [(ngModel)]="searchTerm" />
              <span class="ml-3" *ngIf="spaceService.loading$ | async">Loading...</span>
            </div>

          </div>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">{{'id'|translate}}</th>
                <th scope="col">{{'name'|translate}}</th>
                <th scope="col" sortable="created">{{'created'|translate}}</th>
                <!-- <th scope="col">{{'Image'|translate}}</th> -->

                <th></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of filterFiles; let i=index">
                <!-- <th scope="row">{{ i+1 }}</th> -->
                <td>
                  <ngb-highlight [result]="entity.id.slice(-7)" [term]="searchTerm" #id></ngb-highlight>
                </td>

                <td>
                  <ngb-highlight [result]="entity.name" [term]="searchTerm"></ngb-highlight>

                </td>
                <td>
                  <ngb-highlight [result]="entity.created  | date: 'dd/MM/yyyy'" [term]="searchTerm"></ngb-highlight>

                </td>

                <td>
                  <div>
                    <button type="button" class="btn btn-outline-primary ml-2"
                      (click)="fileId(entity) ;lgModal.hide()">Add-File</button>
                    <!-- <a class="btn btn-outline-success btn-xs">
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>




          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(spaceService.total$ | async)!" [(page)]="spaceService.page"
              [pageSize]="spaceService.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="spaceService.pageSize">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="25">25 items per page</option>
              <option [ngValue]="50">50 items per page</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
